#top_floor [class*='bottom'], #second_floor [class*='bottom'], #third_floor [class*='bottom'], #fourth_floor [class*='bottom'], #second_floor .deck .umbrella .pole {
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}

#top_floor [class*='top'], #second_floor [class*='top'], #third_floor [class*='top'], #fourth_floor [class*='top'], .step [class*="vertical"] {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

#top_floor [class*='left']:not(.chair), #second_floor [class*='left']:not(.chair), #third_floor [class*='left']:not(.chair), #fourth_floor [class*='left']:not(.chair), .table [class*="table_leg"], .table [class*="chair_leg"] {
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: right center;
  transform-origin: right center;
}

#top_floor [class*='right']:not(.chair), #second_floor [class*='right']:not(.chair), #third_floor [class*='right']:not(.chair), #fourth_floor [class*='right']:not(.chair) {
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#top_floor .rooms, #second_floor .rooms, #third_floor .rooms, #fourth_floor .rooms, #top_floor .contents, #second_floor .contents, #third_floor .contents, #fourth_floor .contents, #top_floor .ground, #second_floor .ground, #third_floor .ground, #fourth_floor .ground {
  width: 100%;
  height: 100%;
}
#top_floor .contents, #second_floor .contents, #third_floor .contents, #fourth_floor .contents {
  position: relative;
}
#top_floor .rooms, #second_floor .rooms, #third_floor .rooms, #fourth_floor .rooms {
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
#top_floor .room, #second_floor .room, #third_floor .room, #fourth_floor .room {
  opacity: 0;
  transition-duration: 0;
}
#top_floor .number, #second_floor .number, #third_floor .number, #fourth_floor .number {
  -moz-transform: rotateX(-38deg) rotateZ(24deg) rotateY(-15deg);
  -ms-transform: rotateX(-38deg) rotateZ(24deg) rotateY(-15deg);
  -webkit-transform: rotateX(-38deg) rotateZ(24deg) rotateY(-15deg);
  transform: rotateX(-38deg) rotateZ(24deg) rotateY(-15deg);
  width: 23px;
  height: 23px;
  pointer-events: auto;
  cursor: default;
}
#top_floor .number .circle, #second_floor .number .circle, #third_floor .number .circle, #fourth_floor .number .circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 23px;
  opacity: 0;
  transition-duration: 0;
  font-size: 13px;
  color: white;
}
#top_floor .number .detail, #second_floor .number .detail, #third_floor .number .detail, #fourth_floor .number .detail {
  pointer-events: none;
  opacity: 0;
  width: 500%;
  height: 200%;
  border-width: 2px;
  color: white;
  bottom: 130%;
  margin-left: -200%;
}
#top_floor .number.empty .circle, #second_floor .number.empty .circle, #third_floor .number.empty .circle, #fourth_floor .number.empty .circle {
  background: #212121;
  border-width: 1px;
}
#top_floor .number:hover .detail, #second_floor .number:hover .detail, #third_floor .number:hover .detail, #fourth_floor .number:hover .detail, #top_floor .number.hover .detail, #second_floor .number.hover .detail, #third_floor .number.hover .detail, #fourth_floor .number.hover .detail {
  opacity: 1;
}
#top_floor .ground, #second_floor .ground, #third_floor .ground, #fourth_floor .ground {
  -moz-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 0;
  pointer-events: auto;
}
#top_floor .ground:hover, #second_floor .ground:hover, #third_floor .ground:hover, #fourth_floor .ground:hover {
  opacity: 1;
}
#top_floor *, #second_floor *, #third_floor *, #fourth_floor * {
  position: absolute;
  -moz-transition: all 0.65s;
  -o-transition: all 0.65s;
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#top_floor [class*='side'], #second_floor [class*='side'], #third_floor [class*='side'], #fourth_floor [class*='side'] {
  border-width: 2px;
}
#top_floor [class*='wall'], #second_floor [class*='wall'], #third_floor [class*='wall'], #fourth_floor [class*='wall'] {
  border-width: 1px;
}
#top_floor .top-side, #second_floor .top-side, #third_floor .top-side, #fourth_floor .top-side, #top_floor .bottom-side, #second_floor .bottom-side, #third_floor .bottom-side, #fourth_floor .bottom-side, #top_floor [class*="bottom_wall"], #second_floor [class*="bottom_wall"], #third_floor [class*="bottom_wall"], #fourth_floor [class*="bottom_wall"] {
  left: 0;
}
#top_floor .top-side, #second_floor .top-side, #third_floor .top-side, #fourth_floor .top-side, #top_floor [class*="top_wall"], #second_floor [class*="top_wall"], #third_floor [class*="top_wall"], #fourth_floor [class*="top_wall"] {
  bottom: 100%;
}
#top_floor .bottom-side, #second_floor .bottom-side, #third_floor .bottom-side, #fourth_floor .bottom-side, #top_floor [class*="bottom_wall"], #second_floor [class*="bottom_wall"], #third_floor [class*="bottom_wall"], #fourth_floor [class*="bottom_wall"] {
  top: 100%;
}
#top_floor .right-side, #second_floor .right-side, #third_floor .right-side, #fourth_floor .right-side, #top_floor [class*="right_wall"], #second_floor [class*="right_wall"], #third_floor [class*="right_wall"], #fourth_floor [class*="right_wall"] {
  top: 0;
  left: 100%;
}
#top_floor .top-side, #second_floor .top-side, #third_floor .top-side, #fourth_floor .top-side, #top_floor .bottom-side, #second_floor .bottom-side, #third_floor .bottom-side, #fourth_floor .bottom-side {
  border-left: none;
  border-right: none;
}
#top_floor .left-side, #second_floor .left-side, #third_floor .left-side, #fourth_floor .left-side, #top_floor [class*="left_wall"], #second_floor [class*="left_wall"], #third_floor [class*="left_wall"], #fourth_floor [class*="left_wall"] {
  right: 100%;
}
#top_floor [class*="right_wall"], #second_floor [class*="right_wall"], #third_floor [class*="right_wall"], #fourth_floor [class*="right_wall"], #top_floor [class*="left_wall"], #second_floor [class*="left_wall"], #third_floor [class*="left_wall"], #fourth_floor [class*="left_wall"], #top_floor .right-side, #second_floor .right-side, #third_floor .right-side, #fourth_floor .right-side, #top_floor .left-side, #second_floor .left-side, #third_floor .left-side, #fourth_floor .left-side {
  height: 100%;
}
#top_floor [class*="bottom_wall"], #second_floor [class*="bottom_wall"], #third_floor [class*="bottom_wall"], #fourth_floor [class*="bottom_wall"], #top_floor [class*="top_wall"], #second_floor [class*="top_wall"], #third_floor [class*="top_wall"], #fourth_floor [class*="top_wall"], #top_floor .top-side, #second_floor .top-side, #third_floor .top-side, #fourth_floor .top-side, #top_floor .bottom-side, #second_floor .bottom-side, #third_floor .bottom-side, #fourth_floor .bottom-side {
  width: 100%;
}
#top_floor [class*="right_wall"], #second_floor [class*="right_wall"], #third_floor [class*="right_wall"], #fourth_floor [class*="right_wall"] {
  border-bottom: none;
}
#top_floor [class*="left_wall"], #second_floor [class*="left_wall"], #third_floor [class*="left_wall"], #fourth_floor [class*="left_wall"] {
  bottom: 0;
  border-top: none;
}
#top_floor [class*="top_wall"], #second_floor [class*="top_wall"], #third_floor [class*="top_wall"], #fourth_floor [class*="top_wall"] {
  right: 0;
}

.step [class*="horizontal"], .step [class*="vertical"] {
  width: 100%;
  bottom: 0;
}
.step [class*="horizontal"], .step [class*="vertical"] {
  border-width: 1px;
}
.step [class*="horizontal"] {
  border-top-width: 0px;
  border-bottom-width: 0px;
  height: 100%;
}

.couch {
  -moz-transform: translateZ(-65px);
  -ms-transform: translateZ(-65px);
  -webkit-transform: translateZ(-65px);
  transform: translateZ(-65px);
  height: 14px;
}
.couch .back {
  height: 25px;
}
.couch .step_1 {
  -moz-transform: translateZ(7.5px);
  -ms-transform: translateZ(7.5px);
  -webkit-transform: translateZ(7.5px);
  transform: translateZ(7.5px);
  height: 70%;
  width: 100%;
}
.couch .step_1 [class*="vertical"] {
  height: 7.5px;
}
.couch .step_2 {
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -webkit-transform: translateZ(25px);
  transform: translateZ(25px);
  height: 30%;
  width: 100%;
}
.couch .step_2 [class*="vertical"] {
  height: 17.5px;
}
.couch .back, .couch .floor {
  border-width: 1px;
  width: 100%;
}
.couch .back {
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.couch .back {
  bottom: 100%;
}
.couch .floor {
  height: 100%;
}
.couch .step_2 {
  bottom: 70%;
}

.table {
  -moz-transform: translateZ(-35px);
  -ms-transform: translateZ(-35px);
  -webkit-transform: translateZ(-35px);
  transform: translateZ(-35px);
}
.table [class*="table_leg"] {
  width: 30px;
  height: 2px;
}
.table .chair {
  width: 8px;
  height: 8px;
  -moz-transform: translateZ(-10px);
  -ms-transform: translateZ(-10px);
  -webkit-transform: translateZ(-10px);
  transform: translateZ(-10px);
}
.table .chair[class*="left"] [class*="chair_back"], .table .chair[class*="right"] [class*="chair_back"] {
  width: 14px;
}
.table .chair[class*="front"] [class*="chair_back"], .table .chair[class*="back"] [class*="chair_back"] {
  height: 14px;
}
.table .chair [class*="chair_leg"] {
  width: 20px;
  height: 2px;
}
.table [class*="table_surface"] {
  border-width: 1px;
  width: 100%;
  height: 100%;
}
.table .chair_left_facing {
  left: 100%;
}
.table .chair_right_facing {
  right: 100%;
}
.table .chair_back_facing {
  top: 100%;
}
.table .chair_front_facing {
  bottom: 100%;
}
.table .chair [class*="chair_seat"], .table .chair [class*="chair_back"] {
  border-width: 1px;
}
.table .chair [class*="chair_seat"] {
  width: 100%;
  height: 100%;
}
.table .chair[class*="left"] [class*="chair_back"], .table .chair[class*="right"] [class*="chair_back"] {
  height: 100%;
  border-left: none;
}
.table .chair[class*="front"] [class*="chair_back"], .table .chair[class*="back"] [class*="chair_back"] {
  width: 100%;
}
.table .chair.chair_left_facing [class*="chair_back"] {
  left: 100%;
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.table .chair.chair_right_facing [class*="chair_back"] {
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  right: 100%;
}
.table .chair.chair_front_facing [class*="chair_back"] {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.table .chair.chair_back_facing [class*="chair_back"] {
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  bottom: 0;
}
.table [class*="leg_tl"], .table [class*="leg_bl"] {
  right: 100%;
}
.table [class*="leg_tl"] {
  top: 0;
}
.table [class*="leg_tr"], .table [class*="leg_br"] {
  right: 0;
}
.table [class*="leg_bl"], .table [class*="leg_br"] {
  bottom: 0;
}

#top_floor .conference_room {
  left: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
}
#top_floor .conference_room .table {
  width: 30%;
  height: 80%;
  left: 20%;
  bottom: 2%;
}
#top_floor .conference_room .chair_left_facing {
  left: 102%;
}
#top_floor .conference_room .chair_right_facing {
  right: 102%;
}
#top_floor .conference_room .chair_0, #top_floor .conference_room .chair_4 {
  top: 5%;
}
#top_floor .conference_room .chair_1, #top_floor .conference_room .chair_5 {
  top: 28%;
}
#top_floor .conference_room .chair_2, #top_floor .conference_room .chair_6 {
  top: 51%;
}
#top_floor .conference_room .chair_3, #top_floor .conference_room .chair_7 {
  top: 75%;
}
#top_floor #conference_room_number {
  left: 10%;
  top: 15%;
}
#top_floor .work_room_1, #top_floor .work_room_2 {
  bottom: 0;
}
#top_floor .work_room_1 {
  right: 0;
  width: 15%;
  height: 45%;
}
#top_floor .work_room_1 .table {
  width: 30%;
  height: 70%;
  bottom: 0;
  left: 37%;
}
#top_floor .work_room_1 .chair_0, #top_floor .work_room_1 .chair_2 {
  top: 5%;
}
#top_floor .work_room_1 .chair_1, #top_floor .work_room_1 .chair_3 {
  top: 50%;
}
#top_floor #work_room_1_number {
  left: 87%;
  top: 61%;
}
#top_floor .work_room_2 {
  right: 15%;
  width: 17%;
  height: 45%;
}
#top_floor .work_room_2 .couch {
  width: 30%;
}
#top_floor .work_room_2 .couch_1 {
  right: 0;
  top: 5%;
}
#top_floor .work_room_2 .couch_2 {
  -moz-transform: translateZ(-65px) rotateZ(-90deg);
  -ms-transform: translateZ(-65px) rotateZ(-90deg);
  -webkit-transform: translateZ(-65px) rotateZ(-90deg);
  transform: translateZ(-65px) rotateZ(-90deg);
  top: 10%;
}
#top_floor #work_room_2_number {
  left: 70%;
  top: 61%;
}
#top_floor .work_room_3 {
  left: 30%;
  width: 17%;
  height: 70%;
}
#top_floor .work_room_3 .couch_1 {
  width: 50%;
  left: 20%;
}
#top_floor .work_room_3 .couch_2 {
  -moz-transform: translateZ(-65px) rotateZ(-90deg);
  -ms-transform: translateZ(-65px) rotateZ(-90deg);
  -webkit-transform: translateZ(-65px) rotateZ(-90deg);
  transform: translateZ(-65px) rotateZ(-90deg);
  width: 45%;
  top: 40%;
}
#top_floor #work_room_3_number {
  left: 35%;
  top: 25%;
}
#top_floor .storage_room_1, #top_floor .storage_room_2 {
  left: 47%;
  width: 17%;
  height: 30%;
}
#top_floor .storage_room_2 {
  top: 30%;
}
#top_floor .storage_room_3 {
  left: 74%;
  width: 10%;
  height: 30%;
}
#top_floor .storage_room_4 {
  left: 84%;
  width: 13%;
  height: 30%;
}

#second_floor #couches_number {
  left: 7%;
  top: 50%;
}
#second_floor .ground_couches {
  width: 30%;
}
#second_floor .ground_kitchen {
  width: 70%;
  left: 30%;
}
#second_floor .counter {
  left: 34%;
  -moz-transform: translateZ(-40px);
  -ms-transform: translateZ(-40px);
  -webkit-transform: translateZ(-40px);
  transform: translateZ(-40px);
  height: 15px;
  width: 34%;
}
#second_floor .counter [class*="vertical"] {
  height: 25px;
}
#second_floor .counter .horizontal {
  border-top-width: 1px;
}
#second_floor .bathroom {
  left: 68%;
  width: 15%;
  height: 30%;
}
#second_floor .closet {
  left: 83%;
  width: 10%;
  height: 30%;
}
#second_floor #kitchen_number {
  left: 50%;
  top: 48%;
}
#second_floor .table {
  left: 35%;
  top: 50%;
  width: 33%;
  height: 22%;
}
#second_floor .table .chair_0, #second_floor .table .chair_5 {
  left: 9%;
}
#second_floor .table .chair_1, #second_floor .table .chair_6 {
  left: 28%;
}
#second_floor .table .chair_2, #second_floor .table .chair_7 {
  left: 48%;
}
#second_floor .table .chair_3, #second_floor .table .chair_8 {
  left: 67%;
}
#second_floor .table .chair_4, #second_floor .table .chair_9 {
  left: 86%;
}
#second_floor .couch_1 {
  width: 14%;
  left: 1%;
  top: 37%;
  -moz-transform: translateZ(-65px) rotateZ(-90deg);
  -ms-transform: translateZ(-65px) rotateZ(-90deg);
  -webkit-transform: translateZ(-65px) rotateZ(-90deg);
  transform: translateZ(-65px) rotateZ(-90deg);
}
#second_floor .couch_2, #second_floor .couch_3 {
  width: 6%;
  -moz-transform: translateZ(-65px) rotateZ(90deg);
  -ms-transform: translateZ(-65px) rotateZ(90deg);
  -webkit-transform: translateZ(-65px) rotateZ(90deg);
  transform: translateZ(-65px) rotateZ(90deg);
  left: 17%;
}
#second_floor .couch_2 {
  top: 25%;
}
#second_floor .couch_3 {
  top: 50%;
}
#second_floor #deck_number {
  left: 115%;
  top: 50%;
}
#second_floor .deck {
  width: 40%;
  height: 100%;
  left: 100%;
}
#second_floor .deck .floor {
  border-width: 1px;
  width: 100%;
  height: 100%;
  -moz-transform: translateZ(-65px);
  -ms-transform: translateZ(-65px);
  -webkit-transform: translateZ(-65px);
  transform: translateZ(-65px);
  -moz-background-size: 5px 5px;
  -o-background-size: 5px 5px;
  -webkit-background-size: 5px 5px;
  background-size: 5px 5px;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 90%, rgba(60, 104, 92, 0.25) 90%);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 90%, rgba(60, 104, 92, 0.25) 90%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 90%, rgba(60, 104, 92, 0.25) 90%);
}
#second_floor .deck .table {
  width: 18%;
  height: 20%;
}
#second_floor .deck .table_1 {
  left: 28%;
  top: 20%;
}
#second_floor .deck .table_2 {
  left: 60%;
  top: 58%;
}
#second_floor .deck .chair {
  left: 45%;
}
#second_floor .deck .umbrella {
  top: -20%;
  width: 120%;
  height: 145%;
  border: solid 1px #3c685c;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translateZ(40px);
  -ms-transform: translateZ(40px);
  -webkit-transform: translateZ(40px);
  transform: translateZ(40px);
}
#second_floor .deck .umbrella .pole, #second_floor .deck .umbrella .triangle {
  background: #3c685c;
}
#second_floor .deck .umbrella .pole {
  left: 50%;
  top: 50%;
  width: 2px;
  height: 150%;
}
#second_floor .deck .umbrella .triangle {
  width: 1px;
  height: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
#second_floor .deck .umbrella .triangle.triangle_1 {
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
#second_floor .deck .umbrella .triangle.triangle_2 {
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
#second_floor .deck .umbrella .triangle.triangle_3 {
  -moz-transform: rotateZ(135deg);
  -ms-transform: rotateZ(135deg);
  -webkit-transform: rotateZ(135deg);
  transform: rotateZ(135deg);
}
#second_floor .deck .umbrella .triangle.triangle_4 {
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
#second_floor .deck .umbrella .triangle.triangle_5 {
  -moz-transform: rotateZ(225deg);
  -ms-transform: rotateZ(225deg);
  -webkit-transform: rotateZ(225deg);
  transform: rotateZ(225deg);
}
#second_floor .deck .umbrella .triangle.triangle_6 {
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -webkit-transform: rotateZ(270deg);
  transform: rotateZ(270deg);
}
#second_floor .deck .umbrella .triangle.triangle_7 {
  -moz-transform: rotateZ(315deg);
  -ms-transform: rotateZ(315deg);
  -webkit-transform: rotateZ(315deg);
  transform: rotateZ(315deg);
}
#second_floor .deck .umbrella .triangle.triangle_8 {
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

#third_floor .contents #mezzanine_number {
  left: 50%;
  top: 50%;
}
#third_floor .contents .left-side, #third_floor .contents .right-side {
  background: none;
  border-top: none;
  border-bottom: none;
}
#third_floor .contents .right-side {
  border-left: none;
}
#third_floor .contents .left-side {
  border-right: none;
}
#third_floor .contents .stairs {
  left: 98%;
  bottom: 3%;
  width: 25%;
  height: 60%;
}
#third_floor .contents .table_1 {
  width: 6%;
  height: 100%;
}
#third_floor .contents .table_1 .chair_0 {
  top: 30%;
}
#third_floor .contents .table_1 .chair_1 {
  top: 50%;
}
#third_floor .contents .table_1 .chair_2 {
  top: 80%;
}
#third_floor .contents .table_2, #third_floor .contents .table_3, #third_floor .contents .table_4, #third_floor .contents .table_5, #third_floor .contents .table_6, #third_floor .contents .table_7 {
  width: 7%;
  height: 55%;
}
#third_floor .contents .table_2 .chair_0, #third_floor .contents .table_3 .chair_0, #third_floor .contents .table_4 .chair_0, #third_floor .contents .table_5 .chair_0, #third_floor .contents .table_6 .chair_0, #third_floor .contents .table_7 .chair_0 {
  top: 15%;
}
#third_floor .contents .table_2 .chair_1, #third_floor .contents .table_3 .chair_1, #third_floor .contents .table_4 .chair_1, #third_floor .contents .table_5 .chair_1, #third_floor .contents .table_6 .chair_1, #third_floor .contents .table_7 .chair_1 {
  top: 60%;
}
#third_floor .contents .table_2 {
  left: 20%;
}
#third_floor .contents .table_3 {
  left: 27%;
}
#third_floor .contents .table_4 {
  left: 46%;
}
#third_floor .contents .table_5 {
  left: 53%;
}
#third_floor .contents .table_6 {
  left: 74%;
}
#third_floor .contents .table_7 {
  left: 81%;
}
#third_floor .contents .table_8 {
  left: 96%;
  width: 4%;
  height: 70%;
}

#fourth_floor #front_desk_number {
  left: 4%;
  top: 22%;
}
#fourth_floor #ping_pong_table_number {
  left: 17%;
  top: 15%;
}
#fourth_floor #eric_office_number {
  left: 30.5%;
  top: 18%;
}
#fourth_floor #stairs_number {
  left: 61.5%;
  top: 19%;
}
#fourth_floor #drew_office_number {
  left: 82%;
  top: 18%;
}
#fourth_floor #green_room_number {
  left: 91.5%;
  top: 21%;
}
#fourth_floor #field_guide_number {
  left: 8%;
  top: 60%;
}
#fourth_floor #creative_space_number {
  left: 52.5%;
  top: 72%;
}
#fourth_floor #war_room_number {
  left: 71.5%;
  top: 67%;
}
#fourth_floor .room_1 {
  width: 100%;
  height: 43%;
}
#fourth_floor .room_1 > .left-side {
  display: none;
}
#fourth_floor .room_1 .ground_front_desk {
  width: 4%;
  left: 6.3%;
}
#fourth_floor .room_1 .ground_ping_pong_table {
  width: 12%;
  left: 14.5%;
}
#fourth_floor .room_1 .ground_steps {
  width: 12%;
  left: 52%;
}
#fourth_floor .room_1 .ground_green_room {
  width: 11.75%;
  left: 88.25%;
}
#fourth_floor .room_1 .upper, #fourth_floor .room_1 .lower {
  height: 33%;
  border: solid 1px #496c52;
}
#fourth_floor .room_1 .upper {
  top: 0;
}
#fourth_floor .room_1 .doorway {
  width: 3%;
  height: 30%;
  top: 33%;
}
#fourth_floor .room_1 .doorway .bottom_wall, #fourth_floor .room_1 .doorway .top_wall {
  border-left: none;
  border-right: none;
}
#fourth_floor .room_1 .doorway .left_wall {
  background: none;
  border-width: 2px;
}
#fourth_floor .room_1 .front_desk {
  width: 1.5%;
  height: 26%;
  left: 7%;
  top: 37%;
}
#fourth_floor .room_1 .front_desk .chair_left_facing {
  left: 96%;
}
#fourth_floor .room_1 .front_desk .chair_1 {
  top: 50%;
}
#fourth_floor .room_1 .divider {
  width: 1%;
  height: 32%;
  left: 11%;
  top: 30%;
}
#fourth_floor .room_1 .divider .table {
  width: 100%;
  height: 100%;
  -moz-transform: translateZ(-45px);
  -ms-transform: translateZ(-45px);
  -webkit-transform: translateZ(-45px);
  transform: translateZ(-45px);
}
#fourth_floor .room_1 .divider .table .table_surface {
  background: rgba(73, 108, 82, 0.1);
}
#fourth_floor .room_1 .divider .table [class*="wall"] {
  height: 20px;
}
#fourth_floor .room_1 .ping_pong_table {
  width: 7%;
  height: 28%;
  left: 17%;
  top: 38%;
}
#fourth_floor .room_1 .ping_pong_table .line {
  background: #496c52;
}
#fourth_floor .room_1 .ping_pong_table .horizontal {
  width: 100%;
  height: 1px;
  top: 49%;
}
#fourth_floor .room_1 .ping_pong_table .vertical {
  width: 1px;
  height: 100%;
  left: 50%;
}
#fourth_floor .room_1 .eric_office, #fourth_floor .room_1 .storage_room_1, #fourth_floor .room_1 .storage_room_2, #fourth_floor .room_1 .bathroom_1 {
  top: 30%;
}
#fourth_floor .room_1 .eric_office {
  width: 7%;
  height: 70%;
  left: 29%;
}
#fourth_floor .room_1 .eric_office .table {
  width: 65%;
  height: 32%;
  left: 18%;
  top: 28%;
}
#fourth_floor .room_1 .eric_office .table .chair {
  top: 100%;
  left: 38%;
}
#fourth_floor .room_1 .storage_room_1 {
  width: 4.5%;
  height: 70%;
  left: 36%;
}
#fourth_floor .room_1 .storage_room_2, #fourth_floor .room_1 .storage_room_3 {
  left: 40.5%;
}
#fourth_floor .room_1 .storage_room_2 {
  width: 3.5%;
  height: 45%;
}
#fourth_floor .room_1 .storage_room_3 {
  width: 3.5%;
  height: 25%;
  top: 75%;
}
#fourth_floor .room_1 .bathroom_1, #fourth_floor .room_1 .bathroom_2 {
  width: 6%;
  height: 35%;
  left: 48%;
}
#fourth_floor .room_1 .bathroom_2 {
  top: 65%;
}
#fourth_floor .room_1 .stairs {
  left: 53%;
  bottom: 0;
  width: 9%;
  height: 62%;
  -moz-transform: rotateZ(-90deg) translateZ(87px);
  -ms-transform: rotateZ(-90deg) translateZ(87px);
  -webkit-transform: rotateZ(-90deg) translateZ(87px);
  transform: rotateZ(-90deg) translateZ(87px);
}
#fourth_floor .room_1 .producer_table {
  width: 10%;
  height: 38%;
  left: 67%;
  top: 30%;
}
#fourth_floor .room_1 .producer_table .chair_0, #fourth_floor .room_1 .producer_table .chair_3 {
  left: 15%;
}
#fourth_floor .room_1 .producer_table .chair_1, #fourth_floor .room_1 .producer_table .chair_4 {
  left: 45%;
}
#fourth_floor .room_1 .producer_table .chair_2, #fourth_floor .room_1 .producer_table .chair_5 {
  left: 75%;
}
#fourth_floor .room_1 .green_room_divider {
  left: 80%;
  height: 100%;
  background: none;
}
#fourth_floor .room_1 .drew_office {
  width: 8%;
  height: 70%;
  left: 80.25%;
  top: 30%;
}
#fourth_floor .room_1 .drew_office .table {
  width: 65%;
  height: 32%;
  left: 18%;
  top: 28%;
}
#fourth_floor .room_1 .drew_office .table .chair {
  top: 100%;
  left: 38%;
}
#fourth_floor .room_2 {
  width: 40%;
  height: 43%;
  top: 43%;
}
#fourth_floor .room_2 > .top-side {
  display: none;
}
#fourth_floor .room_2 .ground {
  width: 60%;
}
#fourth_floor .room_2 .table_1, #fourth_floor .room_2 .table_2, #fourth_floor .room_2 .table_3 {
  width: 8%;
  height: 73%;
}
#fourth_floor .room_2 .table_1 .chair_0, #fourth_floor .room_2 .table_1 .chair_3, #fourth_floor .room_2 .table_2 .chair_0, #fourth_floor .room_2 .table_2 .chair_3, #fourth_floor .room_2 .table_3 .chair_0, #fourth_floor .room_2 .table_3 .chair_3 {
  top: 15%;
}
#fourth_floor .room_2 .table_1 .chair_1, #fourth_floor .room_2 .table_1 .chair_4, #fourth_floor .room_2 .table_2 .chair_1, #fourth_floor .room_2 .table_2 .chair_4, #fourth_floor .room_2 .table_3 .chair_1, #fourth_floor .room_2 .table_3 .chair_4 {
  top: 40%;
}
#fourth_floor .room_2 .table_1 .chair_2, #fourth_floor .room_2 .table_1 .chair_5, #fourth_floor .room_2 .table_2 .chair_2, #fourth_floor .room_2 .table_2 .chair_5, #fourth_floor .room_2 .table_3 .chair_2, #fourth_floor .room_2 .table_3 .chair_5 {
  top: 65%;
}
#fourth_floor .room_2 .table_1 {
  left: 8%;
}
#fourth_floor .room_2 .table_2 {
  left: 25%;
}
#fourth_floor .room_2 .table_3 {
  left: 42%;
}
#fourth_floor .room_2 .bar {
  width: 4%;
  height: 73%;
  left: 65%;
}
#fourth_floor .room_2 .kitchen {
  width: 25%;
  height: 73%;
  left: 75%;
}
#fourth_floor .room_3 {
  width: 8%;
  height: 14%;
  top: 86%;
  left: 32%;
}
#fourth_floor .room_3 > .top-side {
  display: none;
}
#fourth_floor .room_4 {
  width: 5%;
  height: 65%;
  top: 43%;
  left: 40%;
}
#fourth_floor .room_4 > .top-side {
  display: none;
}
#fourth_floor .room_4 .room {
  width: 100%;
  height: 35%;
  top: 35%;
}
#fourth_floor .room_4 .office_desk_1, #fourth_floor .room_4 .office_desk_2 {
  width: 100%;
  height: 10%;
}
#fourth_floor .room_4 .office_desk_1 .chair, #fourth_floor .room_4 .office_desk_2 .chair {
  left: 40%;
}
#fourth_floor .room_4 .office_desk_1 {
  top: 35%;
}
#fourth_floor .room_4 .office_desk_1 .chair {
  top: 100%;
}
#fourth_floor .room_4 .office_desk_2 {
  bottom: 0;
}
#fourth_floor .room_4 .office_desk_2 .chair {
  bottom: 100%;
}
#fourth_floor .room_5 {
  width: 20%;
  height: 65%;
  left: 45%;
  top: 43%;
}
#fourth_floor .room_5 > .top-side {
  display: none;
}
#fourth_floor .room_5 > .divider {
  width: 100%;
  height: 1px;
  background: #496c52;
  -moz-transform: translateZ(-65px);
  -ms-transform: translateZ(-65px);
  -webkit-transform: translateZ(-65px);
  transform: translateZ(-65px);
}
#fourth_floor .room_5 .divider_1 {
  top: 42%;
}
#fourth_floor .room_5 .divider_2 {
  top: 45%;
}
#fourth_floor .room_5 .standing_desks {
  width: 65%;
  height: 16%;
}
#fourth_floor .room_5 .standing_desks .chair {
  top: 100%;
}
#fourth_floor .room_5 .standing_desks .chair_0 {
  left: 12%;
}
#fourth_floor .room_5 .standing_desks .chair_1 {
  left: 35%;
}
#fourth_floor .room_5 .standing_desks .chair_2 {
  left: 58%;
}
#fourth_floor .room_5 .standing_desks .chair_3 {
  left: 82%;
}
#fourth_floor .room_5 .creative_table_1, #fourth_floor .room_5 .creative_table_2 {
  width: 23%;
  height: 34%;
  bottom: 0;
}
#fourth_floor .room_5 .creative_table_1 .chair_0, #fourth_floor .room_5 .creative_table_1 .chair_2, #fourth_floor .room_5 .creative_table_2 .chair_0, #fourth_floor .room_5 .creative_table_2 .chair_2 {
  top: 10%;
}
#fourth_floor .room_5 .creative_table_1 .chair_1, #fourth_floor .room_5 .creative_table_1 .chair_3, #fourth_floor .room_5 .creative_table_2 .chair_1, #fourth_floor .room_5 .creative_table_2 .chair_3 {
  top: 60%;
}
#fourth_floor .room_5 .creative_table_1 .divider, #fourth_floor .room_5 .creative_table_2 .divider {
  width: 1px;
  height: 100%;
  background: #496c52;
  left: 50%;
}
#fourth_floor .room_5 .creative_table_1 {
  left: 20%;
}
#fourth_floor .room_5 .creative_table_2 {
  left: 63%;
}
#fourth_floor .room_6 {
  width: 16%;
  height: 65%;
  left: 65%;
  top: 43%;
}
#fourth_floor .room_6 > .top-side {
  display: none;
}
#fourth_floor .room_6 .table {
  width: 60%;
  height: 22%;
  left: 23%;
}
#fourth_floor .room_6 .table .chair_0, #fourth_floor .room_6 .table .chair_3 {
  left: 15%;
}
#fourth_floor .room_6 .table .chair_1, #fourth_floor .room_6 .table .chair_4 {
  left: 50%;
}
#fourth_floor .room_6 .table .chair_2, #fourth_floor .room_6 .table .chair_5 {
  left: 85%;
}
#fourth_floor .room_6 .table_1 {
  top: 18%;
}
#fourth_floor .room_6 .table_2 {
  top: 60%;
}

body {
  background: #212121;
}
body.rotated #building_container {
  -webkit-animation: perspective-transition 1.3s forwards;
  -moz-animation: perspective-transition 1.3s forwards;
  -o-animation: perspective-transition 1.3s forwards;
  animation: perspective-transition 1.3s forwards;
}

#building_container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  perspective-origin: center 20%;
}

@-webkit-keyframes perspective-transition {
  50% {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    perspective-origin: center 20%;
  }

  100% {
    -webkit-perspective: 5000px;
    perspective: 5000px;
    perspective-origin: center 40%;
  }
}
@-moz-keyframes perspective-transition {
  50% {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    perspective-origin: center 20%;
  }

  100% {
    -webkit-perspective: 5000px;
    perspective: 5000px;
    perspective-origin: center 40%;
  }
}
@-o-keyframes perspective-transition {
  50% {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    perspective-origin: center 20%;
  }

  100% {
    -webkit-perspective: 5000px;
    perspective: 5000px;
    perspective-origin: center 40%;
  }
}
@keyframes perspective-transition {
  50% {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    perspective-origin: center 20%;
  }

  100% {
    -webkit-perspective: 5000px;
    perspective: 5000px;
    perspective-origin: center 40%;
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

.building {
  margin-left: auto;
  margin-right: auto;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-top: 100px;
  width: 500px;
  height: 500px;
  pointer-events: none;
}
.building .room {
  width: 100%;
  height: 100%;
}
.building svg {
  overflow: visible;
  width: 100%;
  height: 100%;
  position: absolute;
}
@media only screen and (max-width: 1024px) {
  .building {
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@media only screen and (min-width: 1383px) {
  .building {
    margin-top: 200px;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.top-side, .bottom-side, [class*="bottom_wall"], [class*="top_wall"] {
  height: 65px;
}

.right-side, .left-side, [class*="right_wall"], [class*="left_wall"] {
  width: 65px;
}

.ground {
  -moz-transform: translateZ(-65px);
  -ms-transform: translateZ(-65px);
  -webkit-transform: translateZ(-65px);
  transform: translateZ(-65px);
}

.facade {
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

#top_floor {
  width: 325px;
  height: 105px;
}
#top_floor .facade {
  width: 105px;
  height: 86.1px;
  left: 50%;
  margin-left: -52.5px;
}
#top_floor .facade svg > g {
  -moz-transform: translateY(700px) translateX(376px);
  -ms-transform: translateY(700px) translateX(376px);
  -webkit-transform: translateY(700px) translateX(376px);
  transform: translateY(700px) translateX(376px);
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
#top_floor .contents {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
#top_floor .contents .rooms {
  -moz-transform: rotateZ(-90deg) translateX(0px) translateY(40%);
  -ms-transform: rotateZ(-90deg) translateX(0px) translateY(40%);
  -webkit-transform: rotateZ(-90deg) translateX(0px) translateY(40%);
  transform: rotateZ(-90deg) translateX(0px) translateY(40%);
}
#top_floor .contents > .room {
  -moz-transform: translateZ(-21.1px);
  -ms-transform: translateZ(-21.1px);
  -webkit-transform: translateZ(-21.1px);
  transform: translateZ(-21.1px);
}
.rotated #top_floor svg {
  -webkit-animation: top-floor-facade 1.3s forwards;
  -moz-animation: top-floor-facade 1.3s forwards;
  -o-animation: top-floor-facade 1.3s forwards;
  animation: top-floor-facade 1.3s forwards;
}
.rotated #top_floor .contents {
  -webkit-animation: top-floor 1.3s forwards;
  -moz-animation: top-floor 1.3s forwards;
  -o-animation: top-floor 1.3s forwards;
  animation: top-floor 1.3s forwards;
}
@-moz-keyframes top-floor {
  50% {
    -moz-transform: rotateX(90deg) translateX(-30px) translateZ(30px);
    transform: rotateX(90deg) translateX(-30px) translateZ(30px);
  }

  100% {
    -moz-transform: translateY(-30px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
    transform: translateY(-30px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
  }
}
@-webkit-keyframes top-floor {
  50% {
    -webkit-transform: rotateX(90deg) translateX(-30px) translateZ(30px);
    transform: rotateX(90deg) translateX(-30px) translateZ(30px);
  }

  100% {
    -webkit-transform: translateY(-30px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
    transform: translateY(-30px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
  }
}
@keyframes top-floor {
  50% {
    -moz-transform: rotateX(90deg) translateX(-30px) translateZ(30px);
    -ms-transform: rotateX(90deg) translateX(-30px) translateZ(30px);
    -webkit-transform: rotateX(90deg) translateX(-30px) translateZ(30px);
    transform: rotateX(90deg) translateX(-30px) translateZ(30px);
  }

  100% {
    -moz-transform: translateY(-30px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
    -ms-transform: translateY(-30px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
    -webkit-transform: translateY(-30px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
    transform: translateY(-30px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
  }
}
@-moz-keyframes top-floor-facade {
  50% {
    -moz-transform: scale(0.75) translateX(14px) translateY(81px);
    transform: scale(0.75) translateX(14px) translateY(81px);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(0.75) translateX(47px) translateY(87.5px);
    transform: scale(0.75) translateX(47px) translateY(87.5px);
    opacity: 0;
  }
}
@-webkit-keyframes top-floor-facade {
  50% {
    -webkit-transform: scale(0.75) translateX(14px) translateY(81px);
    transform: scale(0.75) translateX(14px) translateY(81px);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.75) translateX(47px) translateY(87.5px);
    transform: scale(0.75) translateX(47px) translateY(87.5px);
    opacity: 0;
  }
}
@keyframes top-floor-facade {
  50% {
    -moz-transform: scale(0.75) translateX(14px) translateY(81px);
    -ms-transform: scale(0.75) translateX(14px) translateY(81px);
    -webkit-transform: scale(0.75) translateX(14px) translateY(81px);
    transform: scale(0.75) translateX(14px) translateY(81px);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(0.75) translateX(47px) translateY(87.5px);
    -ms-transform: scale(0.75) translateX(47px) translateY(87.5px);
    -webkit-transform: scale(0.75) translateX(47px) translateY(87.5px);
    transform: scale(0.75) translateX(47px) translateY(87.5px);
    opacity: 0;
  }
}
#top_floor *:not([class="facade"]) {
  border-color: #733e2d;
}
#top_floor [class*="leg"], #top_floor .number:not(.empty) .circle {
  background: #733e2d;
}
#top_floor [class*='side'], #top_floor [class*='wall'], #top_floor .ground {
  background: rgba(115, 62, 45, 0.15);
}
#top_floor svg * {
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.rotated #top_floor .facade svg * {
  stroke: #cf9684;
}
.rotated #top_floor .facade svg .need_fill * {
  fill: #cf9684;
  stroke: none;
}
.rotated #top_floor .room, .rotated #top_floor .number .circle {
  opacity: 1;
}
.rotated #top_floor .room {
  transition-delay: 0.65s;
  transition-duration: 0.37143s;
}
.rotated #top_floor .number .circle {
  transition-delay: 1.3s;
  transition-duration: 200ms;
}
#top_floor .facade {
  -webkit-transform-origin: center 254%;
  transform-origin: center 254%;
}

#second_floor {
  width: 325px;
  height: 105px;
}
#second_floor .facade {
  width: 105px;
  height: 60.9px;
  left: 50%;
  margin-left: -52.5px;
}
#second_floor .facade svg > g {
  -moz-transform: translateY(486px) translateX(377px);
  -ms-transform: translateY(486px) translateX(377px);
  -webkit-transform: translateY(486px) translateX(377px);
  transform: translateY(486px) translateX(377px);
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
#second_floor .contents {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
#second_floor .contents .rooms {
  -moz-transform: rotateZ(-90deg) translateX(0px) translateY(40%);
  -ms-transform: rotateZ(-90deg) translateX(0px) translateY(40%);
  -webkit-transform: rotateZ(-90deg) translateX(0px) translateY(40%);
  transform: rotateZ(-90deg) translateX(0px) translateY(40%);
}
#second_floor .contents > .room {
  -moz-transform: translateZ(4.1px);
  -ms-transform: translateZ(4.1px);
  -webkit-transform: translateZ(4.1px);
  transform: translateZ(4.1px);
}
.rotated #second_floor svg {
  -webkit-animation: second-floor-facade 1.3s forwards;
  -moz-animation: second-floor-facade 1.3s forwards;
  -o-animation: second-floor-facade 1.3s forwards;
  animation: second-floor-facade 1.3s forwards;
}
.rotated #second_floor .contents {
  -webkit-animation: second-floor 1.3s forwards;
  -moz-animation: second-floor 1.3s forwards;
  -o-animation: second-floor 1.3s forwards;
  animation: second-floor 1.3s forwards;
}
@-moz-keyframes second-floor {
  50% {
    -moz-transform: rotateX(90deg) translateX(-10px) translateZ(10px);
    transform: rotateX(90deg) translateX(-10px) translateZ(10px);
  }

  100% {
    -moz-transform: translateY(35px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
    transform: translateY(35px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
  }
}
@-webkit-keyframes second-floor {
  50% {
    -webkit-transform: rotateX(90deg) translateX(-10px) translateZ(10px);
    transform: rotateX(90deg) translateX(-10px) translateZ(10px);
  }

  100% {
    -webkit-transform: translateY(35px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
    transform: translateY(35px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
  }
}
@keyframes second-floor {
  50% {
    -moz-transform: rotateX(90deg) translateX(-10px) translateZ(10px);
    -ms-transform: rotateX(90deg) translateX(-10px) translateZ(10px);
    -webkit-transform: rotateX(90deg) translateX(-10px) translateZ(10px);
    transform: rotateX(90deg) translateX(-10px) translateZ(10px);
  }

  100% {
    -moz-transform: translateY(35px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
    -ms-transform: translateY(35px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
    -webkit-transform: translateY(35px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
    transform: translateY(35px) rotateX(20deg) rotateZ(60deg) translateX(-30px);
  }
}
@-moz-keyframes second-floor-facade {
  50% {
    -moz-transform: scale(0.75) translateX(14px) translateY(81px);
    transform: scale(0.75) translateX(14px) translateY(81px);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(0.75) translateX(47.125px) translateY(60.75px);
    transform: scale(0.75) translateX(47.125px) translateY(60.75px);
    opacity: 0;
  }
}
@-webkit-keyframes second-floor-facade {
  50% {
    -webkit-transform: scale(0.75) translateX(14px) translateY(81px);
    transform: scale(0.75) translateX(14px) translateY(81px);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.75) translateX(47.125px) translateY(60.75px);
    transform: scale(0.75) translateX(47.125px) translateY(60.75px);
    opacity: 0;
  }
}
@keyframes second-floor-facade {
  50% {
    -moz-transform: scale(0.75) translateX(14px) translateY(81px);
    -ms-transform: scale(0.75) translateX(14px) translateY(81px);
    -webkit-transform: scale(0.75) translateX(14px) translateY(81px);
    transform: scale(0.75) translateX(14px) translateY(81px);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(0.75) translateX(47.125px) translateY(60.75px);
    -ms-transform: scale(0.75) translateX(47.125px) translateY(60.75px);
    -webkit-transform: scale(0.75) translateX(47.125px) translateY(60.75px);
    transform: scale(0.75) translateX(47.125px) translateY(60.75px);
    opacity: 0;
  }
}
#second_floor *:not([class="facade"]) {
  border-color: #3c685c;
}
#second_floor [class*="leg"], #second_floor .number:not(.empty) .circle {
  background: #3c685c;
}
#second_floor [class*='side'], #second_floor [class*='wall'], #second_floor .ground {
  background: rgba(60, 104, 92, 0.15);
}
#second_floor svg * {
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.rotated #second_floor .facade svg * {
  stroke: #95c2b5;
}
.rotated #second_floor .facade svg .need_fill * {
  fill: #95c2b5;
  stroke: none;
}
.rotated #second_floor .room, .rotated #second_floor .number .circle {
  opacity: 1;
}
.rotated #second_floor .room {
  transition-delay: 0.65s;
  transition-duration: 0.37143s;
}
.rotated #second_floor .number .circle {
  transition-delay: 1.3s;
  transition-duration: 200ms;
}
#second_floor .facade {
  -webkit-transform-origin: center 353%;
  transform-origin: center 353%;
}

#third_floor {
  margin-top: -2%;
  width: 285px;
  height: 105px;
}
#third_floor .facade {
  width: 105px;
  height: 54.6px;
  left: 50%;
  margin-left: -52.5px;
}
#third_floor .facade svg > g {
  -moz-transform: translateY(295px) translateX(417px);
  -ms-transform: translateY(295px) translateX(417px);
  -webkit-transform: translateY(295px) translateX(417px);
  transform: translateY(295px) translateX(417px);
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
#third_floor .contents {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
#third_floor .contents .rooms {
  -moz-transform: rotateZ(-90deg) translateX(-7%) translateY(59%);
  -ms-transform: rotateZ(-90deg) translateX(-7%) translateY(59%);
  -webkit-transform: rotateZ(-90deg) translateX(-7%) translateY(59%);
  transform: rotateZ(-90deg) translateX(-7%) translateY(59%);
}
#third_floor .contents > .room {
  -moz-transform: translateZ(10.4px);
  -ms-transform: translateZ(10.4px);
  -webkit-transform: translateZ(10.4px);
  transform: translateZ(10.4px);
}
.rotated #third_floor svg {
  -webkit-animation: third-floor-facade 1.3s forwards;
  -moz-animation: third-floor-facade 1.3s forwards;
  -o-animation: third-floor-facade 1.3s forwards;
  animation: third-floor-facade 1.3s forwards;
}
.rotated #third_floor .contents {
  -webkit-animation: third-floor 1.3s forwards;
  -moz-animation: third-floor 1.3s forwards;
  -o-animation: third-floor 1.3s forwards;
  animation: third-floor 1.3s forwards;
}
@-moz-keyframes third-floor {
  50% {
    -moz-transform: rotateX(90deg) translateX(10px) translateZ(-10px);
    transform: rotateX(90deg) translateX(10px) translateZ(-10px);
  }

  100% {
    -moz-transform: translateY(-140px) rotateX(20deg) rotateZ(60deg) translateX(190px);
    transform: translateY(-140px) rotateX(20deg) rotateZ(60deg) translateX(190px);
  }
}
@-webkit-keyframes third-floor {
  50% {
    -webkit-transform: rotateX(90deg) translateX(10px) translateZ(-10px);
    transform: rotateX(90deg) translateX(10px) translateZ(-10px);
  }

  100% {
    -webkit-transform: translateY(-140px) rotateX(20deg) rotateZ(60deg) translateX(190px);
    transform: translateY(-140px) rotateX(20deg) rotateZ(60deg) translateX(190px);
  }
}
@keyframes third-floor {
  50% {
    -moz-transform: rotateX(90deg) translateX(10px) translateZ(-10px);
    -ms-transform: rotateX(90deg) translateX(10px) translateZ(-10px);
    -webkit-transform: rotateX(90deg) translateX(10px) translateZ(-10px);
    transform: rotateX(90deg) translateX(10px) translateZ(-10px);
  }

  100% {
    -moz-transform: translateY(-140px) rotateX(20deg) rotateZ(60deg) translateX(190px);
    -ms-transform: translateY(-140px) rotateX(20deg) rotateZ(60deg) translateX(190px);
    -webkit-transform: translateY(-140px) rotateX(20deg) rotateZ(60deg) translateX(190px);
    transform: translateY(-140px) rotateX(20deg) rotateZ(60deg) translateX(190px);
  }
}
@-moz-keyframes third-floor-facade {
  50% {
    -moz-transform: scale(0.75) translateX(19px) translateY(83px);
    transform: scale(0.75) translateX(19px) translateY(83px);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(0.75) translateX(52.125px) translateY(36.875px);
    transform: scale(0.75) translateX(52.125px) translateY(36.875px);
    opacity: 0;
  }
}
@-webkit-keyframes third-floor-facade {
  50% {
    -webkit-transform: scale(0.75) translateX(19px) translateY(83px);
    transform: scale(0.75) translateX(19px) translateY(83px);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.75) translateX(52.125px) translateY(36.875px);
    transform: scale(0.75) translateX(52.125px) translateY(36.875px);
    opacity: 0;
  }
}
@keyframes third-floor-facade {
  50% {
    -moz-transform: scale(0.75) translateX(19px) translateY(83px);
    -ms-transform: scale(0.75) translateX(19px) translateY(83px);
    -webkit-transform: scale(0.75) translateX(19px) translateY(83px);
    transform: scale(0.75) translateX(19px) translateY(83px);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(0.75) translateX(52.125px) translateY(36.875px);
    -ms-transform: scale(0.75) translateX(52.125px) translateY(36.875px);
    -webkit-transform: scale(0.75) translateX(52.125px) translateY(36.875px);
    transform: scale(0.75) translateX(52.125px) translateY(36.875px);
    opacity: 0;
  }
}
#third_floor *:not([class="facade"]) {
  border-color: #693e3e;
}
#third_floor [class*="leg"], #third_floor .number:not(.empty) .circle {
  background: #693e3e;
}
#third_floor [class*='side'], #third_floor [class*='wall'], #third_floor .ground {
  background: rgba(105, 62, 62, 0.15);
}
#third_floor svg * {
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.rotated #third_floor .facade svg * {
  stroke: #c29898;
}
.rotated #third_floor .facade svg .need_fill * {
  fill: #c29898;
  stroke: none;
}
.rotated #third_floor .room, .rotated #third_floor .number .circle {
  opacity: 1;
}
.rotated #third_floor .room {
  transition-delay: 0.65s;
  transition-duration: 0.37143s;
}
.rotated #third_floor .number .circle {
  transition-delay: 1.3s;
  transition-duration: 200ms;
}
#third_floor .facade {
  -webkit-transform-origin: center 389%;
  transform-origin: center 389%;
}

#fourth_floor {
  margin-top: -16%;
  width: 800px;
  height: 220px;
}
#fourth_floor .facade {
  width: 220px;
  height: 101.2px;
  left: 50%;
  margin-left: -110px;
}
#fourth_floor .facade svg > g {
  -moz-transform: translateY(247px) translateX(18px);
  -ms-transform: translateY(247px) translateX(18px);
  -webkit-transform: translateY(247px) translateX(18px);
  transform: translateY(247px) translateX(18px);
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
#fourth_floor .contents {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
#fourth_floor .contents .rooms {
  -moz-transform: rotateZ(-90deg) translateX(30%) translateY(-63%);
  -ms-transform: rotateZ(-90deg) translateX(30%) translateY(-63%);
  -webkit-transform: rotateZ(-90deg) translateX(30%) translateY(-63%);
  transform: rotateZ(-90deg) translateX(30%) translateY(-63%);
}
#fourth_floor .contents > .room {
  -moz-transform: translateZ(-36.2px);
  -ms-transform: translateZ(-36.2px);
  -webkit-transform: translateZ(-36.2px);
  transform: translateZ(-36.2px);
}
.rotated #fourth_floor svg {
  -webkit-animation: fourth-floor-facade 1.3s forwards;
  -moz-animation: fourth-floor-facade 1.3s forwards;
  -o-animation: fourth-floor-facade 1.3s forwards;
  animation: fourth-floor-facade 1.3s forwards;
}
.rotated #fourth_floor .contents {
  -webkit-animation: fourth-floor 1.3s forwards;
  -moz-animation: fourth-floor 1.3s forwards;
  -o-animation: fourth-floor 1.3s forwards;
  animation: fourth-floor 1.3s forwards;
}
@-moz-keyframes fourth-floor {
  50% {
    -moz-transform: rotateX(90deg) translateX(30px) translateZ(-30px);
    transform: rotateX(90deg) translateX(30px) translateZ(-30px);
  }

  100% {
    -moz-transform: translateY(605px) rotateX(20deg) rotateZ(60deg) translateX(-275px);
    transform: translateY(605px) rotateX(20deg) rotateZ(60deg) translateX(-275px);
  }
}
@-webkit-keyframes fourth-floor {
  50% {
    -webkit-transform: rotateX(90deg) translateX(30px) translateZ(-30px);
    transform: rotateX(90deg) translateX(30px) translateZ(-30px);
  }

  100% {
    -webkit-transform: translateY(605px) rotateX(20deg) rotateZ(60deg) translateX(-275px);
    transform: translateY(605px) rotateX(20deg) rotateZ(60deg) translateX(-275px);
  }
}
@keyframes fourth-floor {
  50% {
    -moz-transform: rotateX(90deg) translateX(30px) translateZ(-30px);
    -ms-transform: rotateX(90deg) translateX(30px) translateZ(-30px);
    -webkit-transform: rotateX(90deg) translateX(30px) translateZ(-30px);
    transform: rotateX(90deg) translateX(30px) translateZ(-30px);
  }

  100% {
    -moz-transform: translateY(605px) rotateX(20deg) rotateZ(60deg) translateX(-275px);
    -ms-transform: translateY(605px) rotateX(20deg) rotateZ(60deg) translateX(-275px);
    -webkit-transform: translateY(605px) rotateX(20deg) rotateZ(60deg) translateX(-275px);
    transform: translateY(605px) rotateX(20deg) rotateZ(60deg) translateX(-275px);
  }
}
@-moz-keyframes fourth-floor-facade {
  50% {
    -moz-transform: scale(0.75) translateX(-68px) translateY(95px);
    transform: scale(0.75) translateX(-68px) translateY(95px);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(0.75) translateX(2.25px) translateY(30.875px);
    transform: scale(0.75) translateX(2.25px) translateY(30.875px);
    opacity: 0;
  }
}
@-webkit-keyframes fourth-floor-facade {
  50% {
    -webkit-transform: scale(0.75) translateX(-68px) translateY(95px);
    transform: scale(0.75) translateX(-68px) translateY(95px);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.75) translateX(2.25px) translateY(30.875px);
    transform: scale(0.75) translateX(2.25px) translateY(30.875px);
    opacity: 0;
  }
}
@keyframes fourth-floor-facade {
  50% {
    -moz-transform: scale(0.75) translateX(-68px) translateY(95px);
    -ms-transform: scale(0.75) translateX(-68px) translateY(95px);
    -webkit-transform: scale(0.75) translateX(-68px) translateY(95px);
    transform: scale(0.75) translateX(-68px) translateY(95px);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(0.75) translateX(2.25px) translateY(30.875px);
    -ms-transform: scale(0.75) translateX(2.25px) translateY(30.875px);
    -webkit-transform: scale(0.75) translateX(2.25px) translateY(30.875px);
    transform: scale(0.75) translateX(2.25px) translateY(30.875px);
    opacity: 0;
  }
}
#fourth_floor *:not([class="facade"]) {
  border-color: #496c52;
}
#fourth_floor [class*="leg"], #fourth_floor .number:not(.empty) .circle {
  background: #496c52;
}
#fourth_floor [class*='side'], #fourth_floor [class*='wall'], #fourth_floor .ground {
  background: rgba(73, 108, 82, 0.15);
}
#fourth_floor svg * {
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.rotated #fourth_floor .facade svg * {
  stroke: #a5c2ad;
}
.rotated #fourth_floor .facade svg .need_fill * {
  fill: #a5c2ad;
  stroke: none;
}
.rotated #fourth_floor .room, .rotated #fourth_floor .number .circle {
  opacity: 1;
}
.rotated #fourth_floor .room {
  transition-delay: 0.65s;
  transition-duration: 0.37143s;
}
.rotated #fourth_floor .number .circle {
  transition-delay: 1.3s;
  transition-duration: 200ms;
}
#fourth_floor .facade {
  -webkit-transform-origin: center 267%;
  transform-origin: center 267%;
}

.stairs {
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
.stairs .floor {
  -moz-transform: translateZ(-130px);
  -ms-transform: translateZ(-130px);
  -webkit-transform: translateZ(-130px);
  transform: translateZ(-130px);
  border-width: 1px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.stairs .horizontal {
  border-top-width: 1px;
}
.stairs .step_large {
  left: 24%;
}
.stairs .step_large .horizontal, .stairs .step_large .vertical {
  border-left-width: none;
}
.stairs .step_large.step_1 {
  top: 5%;
  -moz-transform: translateZ(-65px);
  -ms-transform: translateZ(-65px);
  -webkit-transform: translateZ(-65px);
  transform: translateZ(-65px);
  height: 20px;
  width: 64%;
}
.stairs .step_large.step_1 [class*="vertical"] {
  height: 65px;
}
.stairs .step_large.step_2 {
  top: 30%;
  -moz-transform: translateZ(-85px);
  -ms-transform: translateZ(-85px);
  -webkit-transform: translateZ(-85px);
  transform: translateZ(-85px);
  height: 20px;
  width: 64%;
}
.stairs .step_large.step_2 [class*="vertical"] {
  height: 45px;
}
.stairs .step_small .vertical {
  border-top-width: 0px;
}
.stairs .step_small.step_1 {
  top: 5%;
  -moz-transform: translateZ(-65px);
  -ms-transform: translateZ(-65px);
  -webkit-transform: translateZ(-65px);
  transform: translateZ(-65px);
  height: 15px;
  width: 34%;
}
.stairs .step_small.step_1 [class*="vertical"] {
  height: 65px;
}
.stairs .step_small.step_2 {
  top: 20%;
  -moz-transform: translateZ(-80px);
  -ms-transform: translateZ(-80px);
  -webkit-transform: translateZ(-80px);
  transform: translateZ(-80px);
  height: 15px;
  width: 34%;
}
.stairs .step_small.step_2 [class*="vertical"] {
  height: 50px;
}
.stairs .step_small.step_3 {
  top: 35%;
  -moz-transform: translateZ(-95px);
  -ms-transform: translateZ(-95px);
  -webkit-transform: translateZ(-95px);
  transform: translateZ(-95px);
  height: 15px;
  width: 34%;
}
.stairs .step_small.step_3 [class*="vertical"] {
  height: 35px;
}
.stairs .step_small.step_4 {
  top: 50%;
  -moz-transform: translateZ(-110px);
  -ms-transform: translateZ(-110px);
  -webkit-transform: translateZ(-110px);
  transform: translateZ(-110px);
  height: 15px;
  width: 34%;
}
.stairs .step_small.step_4 [class*="vertical"] {
  height: 20px;
}
