#top_floor [class*='bottom'], #second_floor [class*='bottom'], #third_floor [class*='bottom'], #fourth_floor [class*='bottom'], .facade, #second_floor .deck .umbrella .pole {
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}

#top_floor [class*='top'], #second_floor [class*='top'], #third_floor [class*='top'], #fourth_floor [class*='top'], .step [class*="vertical"] {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

#top_floor [class*='left']:not(.chair), #second_floor [class*='left']:not(.chair), #third_floor [class*='left']:not(.chair), #fourth_floor [class*='left']:not(.chair), .table [class*="table_leg"], .table [class*="chair_leg"] {
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: right center;
  transform-origin: right center;
}

#top_floor [class*='right']:not(.chair), #second_floor [class*='right']:not(.chair), #third_floor [class*='right']:not(.chair), #fourth_floor [class*='right']:not(.chair) {
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#top_floor, #second_floor, #third_floor, #fourth_floor {
  -webkit-perspective: 2000px;
  perspective: 2000px;
}
#top_floor .contents, #second_floor .contents, #third_floor .contents, #fourth_floor .contents {
  position: relative;
  width: 100%;
  height: 100%;
}
#top_floor *, #second_floor *, #third_floor *, #fourth_floor * {
  position: absolute;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#top_floor [class*='side'], #second_floor [class*='side'], #third_floor [class*='side'], #fourth_floor [class*='side'] {
  border-width: 2px;
}
#top_floor [class*='wall'], #second_floor [class*='wall'], #third_floor [class*='wall'], #fourth_floor [class*='wall'] {
  border-width: 1px;
}
#top_floor .top-side, #second_floor .top-side, #third_floor .top-side, #fourth_floor .top-side, #top_floor .bottom-side, #second_floor .bottom-side, #third_floor .bottom-side, #fourth_floor .bottom-side, #top_floor [class*="bottom_wall"], #second_floor [class*="bottom_wall"], #third_floor [class*="bottom_wall"], #fourth_floor [class*="bottom_wall"] {
  left: 0;
}
#top_floor .top-side, #second_floor .top-side, #third_floor .top-side, #fourth_floor .top-side, #top_floor [class*="top_wall"], #second_floor [class*="top_wall"], #third_floor [class*="top_wall"], #fourth_floor [class*="top_wall"] {
  bottom: 100%;
}
#top_floor .bottom-side, #second_floor .bottom-side, #third_floor .bottom-side, #fourth_floor .bottom-side, #top_floor [class*="bottom_wall"], #second_floor [class*="bottom_wall"], #third_floor [class*="bottom_wall"], #fourth_floor [class*="bottom_wall"] {
  top: 100%;
}
#top_floor .right-side, #second_floor .right-side, #third_floor .right-side, #fourth_floor .right-side, #top_floor [class*="right_wall"], #second_floor [class*="right_wall"], #third_floor [class*="right_wall"], #fourth_floor [class*="right_wall"] {
  top: 0;
  left: 100%;
}
#top_floor .top-side, #second_floor .top-side, #third_floor .top-side, #fourth_floor .top-side, #top_floor .bottom-side, #second_floor .bottom-side, #third_floor .bottom-side, #fourth_floor .bottom-side {
  border-left: none;
  border-right: none;
}
#top_floor .left-side, #second_floor .left-side, #third_floor .left-side, #fourth_floor .left-side, #top_floor [class*="left_wall"], #second_floor [class*="left_wall"], #third_floor [class*="left_wall"], #fourth_floor [class*="left_wall"] {
  right: 100%;
}
#top_floor [class*="right_wall"], #second_floor [class*="right_wall"], #third_floor [class*="right_wall"], #fourth_floor [class*="right_wall"], #top_floor [class*="left_wall"], #second_floor [class*="left_wall"], #third_floor [class*="left_wall"], #fourth_floor [class*="left_wall"], #top_floor .right-side, #second_floor .right-side, #third_floor .right-side, #fourth_floor .right-side, #top_floor .left-side, #second_floor .left-side, #third_floor .left-side, #fourth_floor .left-side {
  height: 100%;
}
#top_floor [class*="bottom_wall"], #second_floor [class*="bottom_wall"], #third_floor [class*="bottom_wall"], #fourth_floor [class*="bottom_wall"], #top_floor [class*="top_wall"], #second_floor [class*="top_wall"], #third_floor [class*="top_wall"], #fourth_floor [class*="top_wall"], #top_floor .top-side, #second_floor .top-side, #third_floor .top-side, #fourth_floor .top-side, #top_floor .bottom-side, #second_floor .bottom-side, #third_floor .bottom-side, #fourth_floor .bottom-side {
  width: 100%;
}
#top_floor [class*="right_wall"], #second_floor [class*="right_wall"], #third_floor [class*="right_wall"], #fourth_floor [class*="right_wall"] {
  border-bottom: none;
}
#top_floor [class*="left_wall"], #second_floor [class*="left_wall"], #third_floor [class*="left_wall"], #fourth_floor [class*="left_wall"] {
  bottom: 0;
  border-top: none;
}
#top_floor [class*="top_wall"], #second_floor [class*="top_wall"], #third_floor [class*="top_wall"], #fourth_floor [class*="top_wall"] {
  right: 0;
}

.step [class*="horizontal"], .step [class*="vertical"] {
  width: 100%;
  bottom: 0;
}
.step [class*="horizontal"], .step [class*="vertical"] {
  border-width: 1px;
}
.step [class*="horizontal"] {
  border-top-width: 0px;
  border-bottom-width: 0px;
  height: 100%;
}

.couch {
  -moz-transform: translateZ(-65px);
  -ms-transform: translateZ(-65px);
  -webkit-transform: translateZ(-65px);
  transform: translateZ(-65px);
  height: 14px;
}
.couch .back {
  height: 25px;
}
.couch .step_1 {
  -moz-transform: translateZ(7.5px);
  -ms-transform: translateZ(7.5px);
  -webkit-transform: translateZ(7.5px);
  transform: translateZ(7.5px);
  height: 70%;
  width: 100%;
}
.couch .step_1 [class*="vertical"] {
  height: 7.5px;
}
.couch .step_2 {
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -webkit-transform: translateZ(25px);
  transform: translateZ(25px);
  height: 30%;
  width: 100%;
}
.couch .step_2 [class*="vertical"] {
  height: 17.5px;
}
.couch .back, .couch .floor {
  border-width: 1px;
  width: 100%;
}
.couch .back {
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.couch .back {
  bottom: 100%;
}
.couch .floor {
  height: 100%;
}
.couch .step_2 {
  bottom: 70%;
}

.table {
  -moz-transform: translateZ(-35px);
  -ms-transform: translateZ(-35px);
  -webkit-transform: translateZ(-35px);
  transform: translateZ(-35px);
}
.table [class*="table_leg"] {
  width: 30px;
  height: 2px;
}
.table .chair {
  width: 8px;
  height: 8px;
  -moz-transform: translateZ(-10px);
  -ms-transform: translateZ(-10px);
  -webkit-transform: translateZ(-10px);
  transform: translateZ(-10px);
}
.table .chair[class*="left"] [class*="chair_back"], .table .chair[class*="right"] [class*="chair_back"] {
  width: 14px;
}
.table .chair[class*="front"] [class*="chair_back"], .table .chair[class*="back"] [class*="chair_back"] {
  height: 14px;
}
.table .chair [class*="chair_leg"] {
  width: 20px;
  height: 2px;
}
.table [class*="table_surface"] {
  border-width: 1px;
  width: 100%;
  height: 100%;
}
.table .chair [class*="chair_seat"], .table .chair [class*="chair_back"] {
  border-width: 1px;
}
.table .chair [class*="chair_seat"] {
  width: 100%;
  height: 100%;
}
.table .chair[class*="left"] [class*="chair_back"], .table .chair[class*="right"] [class*="chair_back"] {
  height: 100%;
  border-left: none;
}
.table .chair[class*="front"] [class*="chair_back"], .table .chair[class*="back"] [class*="chair_back"] {
  width: 100%;
}
.table .chair.chair_left_facing [class*="chair_back"] {
  left: 100%;
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.table .chair.chair_right_facing [class*="chair_back"] {
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  right: 100%;
}
.table .chair.chair_front_facing [class*="chair_back"] {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.table .chair.chair_back_facing [class*="chair_back"] {
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  bottom: 0;
}
.table [class*="leg_tl"], .table [class*="leg_bl"] {
  right: 100%;
}
.table [class*="leg_tl"] {
  top: 0;
}
.table [class*="leg_tr"], .table [class*="leg_br"] {
  right: 0;
}
.table [class*="leg_bl"], .table [class*="leg_br"] {
  bottom: 0;
}

body {
  background: #212121;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

.building {
  margin-left: auto;
  margin-right: auto;
}
.building .room {
  width: 100%;
  height: 100%;
}

.building {
  width: 400px;
}

.top-side, .bottom-side, [class*="bottom_wall"], [class*="top_wall"] {
  height: 65px;
}

.right-side, .left-side, [class*="right_wall"], [class*="left_wall"] {
  width: 65px;
}

.facade {
  width: 400px;
}

.facade {
  top: 100%;
  background: rgba(255, 255, 255, 0.5);
  background-image: -webkit-repeating-radial-gradient(center center, #212121, #212121 3px, transparent 3px, transparent 100%);
  background-image: repeating-radial-gradient(center center, #212121, #212121 3px, transparent 3px, transparent 100%);
  -moz-background-size: 6px 6px;
  -o-background-size: 6px 6px;
  -webkit-background-size: 6px 6px;
  background-size: 6px 6px;
}
.facade, .facade .window {
  border: solid 1px rgba(255, 255, 255, 0.5);
}
.facade .window {
  width: 42px;
  height: 62px;
  top: 10px;
  background: #212121;
}
.facade .window.left {
  left: 58px;
}
.facade .window.center {
  left: 50%;
  margin-left: -21px;
}
.facade .window.right {
  right: 60px;
}

#top_floor {
  margin-top: 100px;
  width: 325px;
  height: 105px;
}
#top_floor .facade {
  height: 120px;
}
#top_floor .contents {
  -moz-transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
  -ms-transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
  -webkit-transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
  transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
}
#top_floor .contents > .room {
  -moz-transform: translateZ(-55px);
  -ms-transform: translateZ(-55px);
  -webkit-transform: translateZ(-55px);
  transform: translateZ(-55px);
}
.rotated #top_floor .contents {
  -webkit-animation: top-floor 1s forwards;
  -moz-animation: top-floor 1s forwards;
  -o-animation: top-floor 1s forwards;
  animation: top-floor 1s forwards;
}
@-moz-keyframes top-floor {
  50% {
    -moz-transform: translateY(-30px) rotateX(90deg) translateX(-30px) translateZ(0px);
    transform: translateY(-30px) rotateX(90deg) translateX(-30px) translateZ(0px);
  }

  100% {
    -moz-transform: translateY(-30px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
    transform: translateY(-30px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
  }
}
@-webkit-keyframes top-floor {
  50% {
    -webkit-transform: translateY(-30px) rotateX(90deg) translateX(-30px) translateZ(0px);
    transform: translateY(-30px) rotateX(90deg) translateX(-30px) translateZ(0px);
  }

  100% {
    -webkit-transform: translateY(-30px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
    transform: translateY(-30px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
  }
}
@keyframes top-floor {
  50% {
    -moz-transform: translateY(-30px) rotateX(90deg) translateX(-30px) translateZ(0px);
    -ms-transform: translateY(-30px) rotateX(90deg) translateX(-30px) translateZ(0px);
    -webkit-transform: translateY(-30px) rotateX(90deg) translateX(-30px) translateZ(0px);
    transform: translateY(-30px) rotateX(90deg) translateX(-30px) translateZ(0px);
  }

  100% {
    -moz-transform: translateY(-30px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
    -ms-transform: translateY(-30px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
    -webkit-transform: translateY(-30px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
    transform: translateY(-30px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
  }
}
#top_floor *:not([class="facade"]) {
  border-color: #733e2d;
}
#top_floor .window {
  border-color: rgba(255, 255, 255, 0.5);
  transform: none !important;
}
#top_floor [class*="leg"] {
  background: #733e2d;
}
#top_floor [class*='side'], #top_floor [class*='wall'] {
  background: rgba(115, 62, 45, 0.15);
}
.rotated #top_floor .facade {
  -webkit-animation: top-floor-facade 1s forwards;
  -moz-animation: top-floor-facade 1s forwards;
  -o-animation: top-floor-facade 1s forwards;
  animation: top-floor-facade 1s forwards;
}
.rotated #top_floor .window {
  border-color: #733e2d;
  transition-duration: 300ms;
}
@-moz-keyframes top-floor-facade {
  30% {
    border-color: #733e2d;
    background-color: #733e2d;
  }

  50% {
    border-color: #733e2d;
    background-color: #733e2d;
    opacity: 1;
  }

  100% {
    border-color: #733e2d;
    background-color: #733e2d;
    opacity: 0;
  }
}
@-webkit-keyframes top-floor-facade {
  30% {
    border-color: #733e2d;
    background-color: #733e2d;
  }

  50% {
    border-color: #733e2d;
    background-color: #733e2d;
    opacity: 1;
  }

  100% {
    border-color: #733e2d;
    background-color: #733e2d;
    opacity: 0;
  }
}
@keyframes top-floor-facade {
  30% {
    border-color: #733e2d;
    background-color: #733e2d;
  }

  50% {
    border-color: #733e2d;
    background-color: #733e2d;
    opacity: 1;
  }

  100% {
    border-color: #733e2d;
    background-color: #733e2d;
    opacity: 0;
  }
}
#top_floor .conference_room {
  left: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
}
#top_floor .conference_room .table {
  width: 30%;
  height: 80%;
  left: 20%;
  bottom: 2%;
}
#top_floor .conference_room .chair_left_facing {
  left: 102%;
}
#top_floor .conference_room .chair_right_facing {
  right: 102%;
}
#top_floor .conference_room .chair_1, #top_floor .conference_room .chair_5 {
  top: 5%;
}
#top_floor .conference_room .chair_2, #top_floor .conference_room .chair_6 {
  top: 28%;
}
#top_floor .conference_room .chair_3, #top_floor .conference_room .chair_7 {
  top: 51%;
}
#top_floor .conference_room .chair_4, #top_floor .conference_room .chair_8 {
  top: 75%;
}
#top_floor .work_room_1, #top_floor .work_room_2 {
  bottom: 0;
}
#top_floor .work_room_1 {
  right: 0;
  width: 15%;
  height: 45%;
}
#top_floor .work_room_1 .table {
  width: 30%;
  height: 70%;
  bottom: 0;
  left: 37%;
}
#top_floor .work_room_1 .chair_left_facing {
  left: 100%;
}
#top_floor .work_room_1 .chair_right_facing {
  right: 100%;
}
#top_floor .work_room_1 .chair_1, #top_floor .work_room_1 .chair_3 {
  top: 5%;
}
#top_floor .work_room_1 .chair_2, #top_floor .work_room_1 .chair_4 {
  top: 50%;
}
#top_floor .work_room_2 {
  right: 15%;
  width: 17%;
  height: 45%;
}
#top_floor .work_room_2 .couch {
  width: 30%;
}
#top_floor .work_room_2 .couch_1 {
  right: 0;
  top: 5%;
}
#top_floor .work_room_2 .couch_2 {
  -moz-transform: translateZ(-65px) rotateZ(-90deg);
  -ms-transform: translateZ(-65px) rotateZ(-90deg);
  -webkit-transform: translateZ(-65px) rotateZ(-90deg);
  transform: translateZ(-65px) rotateZ(-90deg);
  top: 10%;
}
#top_floor .work_room_3 {
  left: 30%;
  width: 17%;
  height: 70%;
}
#top_floor .work_room_3 .couch_1 {
  width: 50%;
  left: 20%;
}
#top_floor .work_room_3 .couch_2 {
  -moz-transform: translateZ(-65px) rotateZ(-90deg);
  -ms-transform: translateZ(-65px) rotateZ(-90deg);
  -webkit-transform: translateZ(-65px) rotateZ(-90deg);
  transform: translateZ(-65px) rotateZ(-90deg);
  width: 45%;
  top: 40%;
}
#top_floor .storage_room_1, #top_floor .storage_room_2 {
  left: 47%;
  width: 17%;
  height: 30%;
}
#top_floor .storage_room_2 {
  top: 30%;
}
#top_floor .storage_room_3 {
  left: 74%;
  width: 10%;
  height: 30%;
}
#top_floor .storage_room_4 {
  left: 84%;
  width: 13%;
  height: 30%;
}

#second_floor {
  margin-top: 22px;
  width: 325px;
  height: 105px;
}
#second_floor .facade {
  height: 120px;
}
#second_floor .contents {
  -moz-transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
  -ms-transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
  -webkit-transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
  transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
}
#second_floor .contents > .room {
  -moz-transform: translateZ(-55px);
  -ms-transform: translateZ(-55px);
  -webkit-transform: translateZ(-55px);
  transform: translateZ(-55px);
}
.rotated #second_floor .contents {
  -webkit-animation: second-floor 1s forwards;
  -moz-animation: second-floor 1s forwards;
  -o-animation: second-floor 1s forwards;
  animation: second-floor 1s forwards;
}
@-moz-keyframes second-floor {
  50% {
    -moz-transform: translateY(20px) rotateX(90deg) translateX(20px) translateZ(0px);
    transform: translateY(20px) rotateX(90deg) translateX(20px) translateZ(0px);
  }

  100% {
    -moz-transform: translateY(22px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
    transform: translateY(22px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
  }
}
@-webkit-keyframes second-floor {
  50% {
    -webkit-transform: translateY(20px) rotateX(90deg) translateX(20px) translateZ(0px);
    transform: translateY(20px) rotateX(90deg) translateX(20px) translateZ(0px);
  }

  100% {
    -webkit-transform: translateY(22px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
    transform: translateY(22px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
  }
}
@keyframes second-floor {
  50% {
    -moz-transform: translateY(20px) rotateX(90deg) translateX(20px) translateZ(0px);
    -ms-transform: translateY(20px) rotateX(90deg) translateX(20px) translateZ(0px);
    -webkit-transform: translateY(20px) rotateX(90deg) translateX(20px) translateZ(0px);
    transform: translateY(20px) rotateX(90deg) translateX(20px) translateZ(0px);
  }

  100% {
    -moz-transform: translateY(22px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
    -ms-transform: translateY(22px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
    -webkit-transform: translateY(22px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
    transform: translateY(22px) rotateX(20deg) rotateZ(-30deg) translateX(-30px) translateZ(0px);
  }
}
#second_floor *:not([class="facade"]) {
  border-color: #3c685c;
}
#second_floor .window {
  border-color: rgba(255, 255, 255, 0.5);
  transform: none !important;
}
#second_floor [class*="leg"] {
  background: #3c685c;
}
#second_floor [class*='side'], #second_floor [class*='wall'] {
  background: rgba(60, 104, 92, 0.15);
}
.rotated #second_floor .facade {
  -webkit-animation: second-floor-facade 1s forwards;
  -moz-animation: second-floor-facade 1s forwards;
  -o-animation: second-floor-facade 1s forwards;
  animation: second-floor-facade 1s forwards;
}
.rotated #second_floor .window {
  border-color: #3c685c;
  transition-duration: 300ms;
}
@-moz-keyframes second-floor-facade {
  30% {
    border-color: #3c685c;
    background-color: #3c685c;
  }

  50% {
    border-color: #3c685c;
    background-color: #3c685c;
    opacity: 1;
  }

  100% {
    border-color: #3c685c;
    background-color: #3c685c;
    opacity: 0;
  }
}
@-webkit-keyframes second-floor-facade {
  30% {
    border-color: #3c685c;
    background-color: #3c685c;
  }

  50% {
    border-color: #3c685c;
    background-color: #3c685c;
    opacity: 1;
  }

  100% {
    border-color: #3c685c;
    background-color: #3c685c;
    opacity: 0;
  }
}
@keyframes second-floor-facade {
  30% {
    border-color: #3c685c;
    background-color: #3c685c;
  }

  50% {
    border-color: #3c685c;
    background-color: #3c685c;
    opacity: 1;
  }

  100% {
    border-color: #3c685c;
    background-color: #3c685c;
    opacity: 0;
  }
}
#second_floor .counter {
  left: 34%;
  -moz-transform: translateZ(-40px);
  -ms-transform: translateZ(-40px);
  -webkit-transform: translateZ(-40px);
  transform: translateZ(-40px);
  height: 15px;
  width: 34%;
}
#second_floor .counter [class*="vertical"] {
  height: 25px;
}
#second_floor .counter .horizontal {
  border-top-width: 1px;
}
#second_floor .bathroom {
  left: 68%;
  width: 15%;
  height: 30%;
}
#second_floor .closet {
  left: 83%;
  width: 10%;
  height: 30%;
}
#second_floor .table {
  left: 35%;
  top: 50%;
  width: 33%;
  height: 22%;
}
#second_floor .table .chair_back_facing {
  top: 100%;
}
#second_floor .table .chair_front_facing {
  bottom: 100%;
}
#second_floor .table .chair_1, #second_floor .table .chair_6 {
  left: 9%;
}
#second_floor .table .chair_2, #second_floor .table .chair_7 {
  left: 28%;
}
#second_floor .table .chair_3, #second_floor .table .chair_8 {
  left: 48%;
}
#second_floor .table .chair_4, #second_floor .table .chair_9 {
  left: 67%;
}
#second_floor .table .chair_5, #second_floor .table .chair_10 {
  left: 86%;
}
#second_floor .couch_1 {
  width: 14%;
  left: 1%;
  top: 37%;
  -moz-transform: translateZ(-65px) rotateZ(-90deg);
  -ms-transform: translateZ(-65px) rotateZ(-90deg);
  -webkit-transform: translateZ(-65px) rotateZ(-90deg);
  transform: translateZ(-65px) rotateZ(-90deg);
}
#second_floor .couch_2, #second_floor .couch_3 {
  width: 6%;
  -moz-transform: translateZ(-65px) rotateZ(90deg);
  -ms-transform: translateZ(-65px) rotateZ(90deg);
  -webkit-transform: translateZ(-65px) rotateZ(90deg);
  transform: translateZ(-65px) rotateZ(90deg);
  left: 17%;
}
#second_floor .couch_2 {
  top: 25%;
}
#second_floor .couch_3 {
  top: 50%;
}
#second_floor .deck {
  width: 40%;
  height: 100%;
  left: 100%;
}
#second_floor .deck .floor {
  border-width: 1px;
  width: 100%;
  height: 100%;
  -moz-transform: translateZ(-65px);
  -ms-transform: translateZ(-65px);
  -webkit-transform: translateZ(-65px);
  transform: translateZ(-65px);
  -moz-background-size: 5px 5px;
  -o-background-size: 5px 5px;
  -webkit-background-size: 5px 5px;
  background-size: 5px 5px;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 90%, rgba(60, 104, 92, 0.25) 90%);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 90%, rgba(60, 104, 92, 0.25) 90%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 90%, rgba(60, 104, 92, 0.25) 90%);
}
#second_floor .deck .table {
  width: 18%;
  height: 20%;
}
#second_floor .deck .table_1 {
  left: 28%;
  top: 20%;
}
#second_floor .deck .table_2 {
  left: 60%;
  top: 58%;
}
#second_floor .deck .chair {
  left: 45%;
}
#second_floor .deck .umbrella {
  top: -20%;
  width: 120%;
  height: 145%;
  border: solid 1px #3c685c;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translateZ(40px);
  -ms-transform: translateZ(40px);
  -webkit-transform: translateZ(40px);
  transform: translateZ(40px);
}
#second_floor .deck .umbrella .pole, #second_floor .deck .umbrella .triangle {
  background: #3c685c;
}
#second_floor .deck .umbrella .pole {
  left: 50%;
  top: 50%;
  width: 2px;
  height: 150%;
}
#second_floor .deck .umbrella .triangle {
  width: 1px;
  height: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
#second_floor .deck .umbrella .triangle.triangle_1 {
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
#second_floor .deck .umbrella .triangle.triangle_2 {
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
#second_floor .deck .umbrella .triangle.triangle_3 {
  -moz-transform: rotateZ(135deg);
  -ms-transform: rotateZ(135deg);
  -webkit-transform: rotateZ(135deg);
  transform: rotateZ(135deg);
}
#second_floor .deck .umbrella .triangle.triangle_4 {
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
#second_floor .deck .umbrella .triangle.triangle_5 {
  -moz-transform: rotateZ(225deg);
  -ms-transform: rotateZ(225deg);
  -webkit-transform: rotateZ(225deg);
  transform: rotateZ(225deg);
}
#second_floor .deck .umbrella .triangle.triangle_6 {
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -webkit-transform: rotateZ(270deg);
  transform: rotateZ(270deg);
}
#second_floor .deck .umbrella .triangle.triangle_7 {
  -moz-transform: rotateZ(315deg);
  -ms-transform: rotateZ(315deg);
  -webkit-transform: rotateZ(315deg);
  transform: rotateZ(315deg);
}
#second_floor .deck .umbrella .triangle.triangle_8 {
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

#third_floor {
  margin-top: 22px;
  width: 285px;
  height: 105px;
}
#third_floor .facade {
  height: 120px;
}
#third_floor .contents {
  -moz-transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
  -ms-transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
  -webkit-transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
  transform: rotateX(90deg) translateZ(0px) translateX(0px) translateY(0px);
}
#third_floor .contents > .room {
  -moz-transform: translateZ(-55px);
  -ms-transform: translateZ(-55px);
  -webkit-transform: translateZ(-55px);
  transform: translateZ(-55px);
}
.rotated #third_floor .contents {
  -webkit-animation: third-floor 1s forwards;
  -moz-animation: third-floor 1s forwards;
  -o-animation: third-floor 1s forwards;
  animation: third-floor 1s forwards;
}
@-moz-keyframes third-floor {
  50% {
    -moz-transform: translateY(70px) rotateX(90deg) translateX(70px) translateZ(0px);
    transform: translateY(70px) rotateX(90deg) translateX(70px) translateZ(0px);
  }

  100% {
    -moz-transform: translateY(85px) rotateX(20deg) rotateZ(-30deg) translateX(70px) translateZ(0px);
    transform: translateY(85px) rotateX(20deg) rotateZ(-30deg) translateX(70px) translateZ(0px);
  }
}
@-webkit-keyframes third-floor {
  50% {
    -webkit-transform: translateY(70px) rotateX(90deg) translateX(70px) translateZ(0px);
    transform: translateY(70px) rotateX(90deg) translateX(70px) translateZ(0px);
  }

  100% {
    -webkit-transform: translateY(85px) rotateX(20deg) rotateZ(-30deg) translateX(70px) translateZ(0px);
    transform: translateY(85px) rotateX(20deg) rotateZ(-30deg) translateX(70px) translateZ(0px);
  }
}
@keyframes third-floor {
  50% {
    -moz-transform: translateY(70px) rotateX(90deg) translateX(70px) translateZ(0px);
    -ms-transform: translateY(70px) rotateX(90deg) translateX(70px) translateZ(0px);
    -webkit-transform: translateY(70px) rotateX(90deg) translateX(70px) translateZ(0px);
    transform: translateY(70px) rotateX(90deg) translateX(70px) translateZ(0px);
  }

  100% {
    -moz-transform: translateY(85px) rotateX(20deg) rotateZ(-30deg) translateX(70px) translateZ(0px);
    -ms-transform: translateY(85px) rotateX(20deg) rotateZ(-30deg) translateX(70px) translateZ(0px);
    -webkit-transform: translateY(85px) rotateX(20deg) rotateZ(-30deg) translateX(70px) translateZ(0px);
    transform: translateY(85px) rotateX(20deg) rotateZ(-30deg) translateX(70px) translateZ(0px);
  }
}
#third_floor *:not([class="facade"]) {
  border-color: #693e3e;
}
#third_floor .window {
  border-color: rgba(255, 255, 255, 0.5);
  transform: none !important;
}
#third_floor [class*="leg"] {
  background: #693e3e;
}
#third_floor [class*='side'], #third_floor [class*='wall'] {
  background: rgba(105, 62, 62, 0.15);
}
.rotated #third_floor .facade {
  -webkit-animation: third-floor-facade 1s forwards;
  -moz-animation: third-floor-facade 1s forwards;
  -o-animation: third-floor-facade 1s forwards;
  animation: third-floor-facade 1s forwards;
}
.rotated #third_floor .window {
  border-color: #693e3e;
  transition-duration: 300ms;
}
@-moz-keyframes third-floor-facade {
  30% {
    border-color: #693e3e;
    background-color: #693e3e;
  }

  50% {
    border-color: #693e3e;
    background-color: #693e3e;
    opacity: 1;
  }

  100% {
    border-color: #693e3e;
    background-color: #693e3e;
    opacity: 0;
  }
}
@-webkit-keyframes third-floor-facade {
  30% {
    border-color: #693e3e;
    background-color: #693e3e;
  }

  50% {
    border-color: #693e3e;
    background-color: #693e3e;
    opacity: 1;
  }

  100% {
    border-color: #693e3e;
    background-color: #693e3e;
    opacity: 0;
  }
}
@keyframes third-floor-facade {
  30% {
    border-color: #693e3e;
    background-color: #693e3e;
  }

  50% {
    border-color: #693e3e;
    background-color: #693e3e;
    opacity: 1;
  }

  100% {
    border-color: #693e3e;
    background-color: #693e3e;
    opacity: 0;
  }
}
#third_floor .contents .left-side, #third_floor .contents .right-side {
  background: none;
  border-top: none;
  border-bottom: none;
}
#third_floor .contents .right-side {
  border-left: none;
}
#third_floor .contents .left-side {
  border-right: none;
}
#third_floor .contents .stairs {
  width: 25%;
  height: 60%;
  left: 98%;
  bottom: 3%;
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
#third_floor .contents .stairs .floor {
  -moz-transform: translateZ(-130px);
  -ms-transform: translateZ(-130px);
  -webkit-transform: translateZ(-130px);
  transform: translateZ(-130px);
  border-width: 1px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#third_floor .contents .stairs .horizontal {
  border-top-width: 1px;
}
#third_floor .contents .stairs .step_large {
  left: 24%;
}
#third_floor .contents .stairs .step_large .horizontal, #third_floor .contents .stairs .step_large .vertical {
  border-left-width: none;
}
#third_floor .contents .stairs .step_large.step_1 {
  top: 5%;
  -moz-transform: translateZ(-65px);
  -ms-transform: translateZ(-65px);
  -webkit-transform: translateZ(-65px);
  transform: translateZ(-65px);
  height: 20px;
  width: 64%;
}
#third_floor .contents .stairs .step_large.step_1 [class*="vertical"] {
  height: 65px;
}
#third_floor .contents .stairs .step_large.step_2 {
  top: 30%;
  -moz-transform: translateZ(-85px);
  -ms-transform: translateZ(-85px);
  -webkit-transform: translateZ(-85px);
  transform: translateZ(-85px);
  height: 20px;
  width: 64%;
}
#third_floor .contents .stairs .step_large.step_2 [class*="vertical"] {
  height: 45px;
}
#third_floor .contents .stairs .step_small .vertical {
  border-top-width: 0px;
}
#third_floor .contents .stairs .step_small.step_1 {
  top: 5%;
  -moz-transform: translateZ(-65px);
  -ms-transform: translateZ(-65px);
  -webkit-transform: translateZ(-65px);
  transform: translateZ(-65px);
  height: 15px;
  width: 34%;
}
#third_floor .contents .stairs .step_small.step_1 [class*="vertical"] {
  height: 65px;
}
#third_floor .contents .stairs .step_small.step_2 {
  top: 20%;
  -moz-transform: translateZ(-80px);
  -ms-transform: translateZ(-80px);
  -webkit-transform: translateZ(-80px);
  transform: translateZ(-80px);
  height: 15px;
  width: 34%;
}
#third_floor .contents .stairs .step_small.step_2 [class*="vertical"] {
  height: 50px;
}
#third_floor .contents .stairs .step_small.step_3 {
  top: 35%;
  -moz-transform: translateZ(-95px);
  -ms-transform: translateZ(-95px);
  -webkit-transform: translateZ(-95px);
  transform: translateZ(-95px);
  height: 15px;
  width: 34%;
}
#third_floor .contents .stairs .step_small.step_3 [class*="vertical"] {
  height: 35px;
}
#third_floor .contents .stairs .step_small.step_4 {
  top: 50%;
  -moz-transform: translateZ(-110px);
  -ms-transform: translateZ(-110px);
  -webkit-transform: translateZ(-110px);
  transform: translateZ(-110px);
  height: 15px;
  width: 34%;
}
#third_floor .contents .stairs .step_small.step_4 [class*="vertical"] {
  height: 20px;
}
#third_floor .contents .chair_left_facing {
  left: 100%;
}
#third_floor .contents .chair_right_facing {
  right: 100%;
}
#third_floor .contents .table_1 {
  width: 6%;
  height: 100%;
}
#third_floor .contents .table_1 .chair_1 {
  top: 30%;
}
#third_floor .contents .table_1 .chair_2 {
  top: 50%;
}
#third_floor .contents .table_1 .chair_3 {
  top: 80%;
}
#third_floor .contents .table_2, #third_floor .contents .table_3, #third_floor .contents .table_4, #third_floor .contents .table_5, #third_floor .contents .table_6, #third_floor .contents .table_7 {
  width: 7%;
  height: 55%;
}
#third_floor .contents .table_2 .chair_1, #third_floor .contents .table_3 .chair_1, #third_floor .contents .table_4 .chair_1, #third_floor .contents .table_5 .chair_1, #third_floor .contents .table_6 .chair_1, #third_floor .contents .table_7 .chair_1 {
  top: 15%;
}
#third_floor .contents .table_2 .chair_2, #third_floor .contents .table_3 .chair_2, #third_floor .contents .table_4 .chair_2, #third_floor .contents .table_5 .chair_2, #third_floor .contents .table_6 .chair_2, #third_floor .contents .table_7 .chair_2 {
  top: 60%;
}
#third_floor .contents .table_2 {
  left: 20%;
}
#third_floor .contents .table_3 {
  left: 27%;
}
#third_floor .contents .table_4 {
  left: 46%;
}
#third_floor .contents .table_5 {
  left: 53%;
}
#third_floor .contents .table_6 {
  left: 74%;
}
#third_floor .contents .table_7 {
  left: 81%;
}
#third_floor .contents .table_8 {
  left: 96%;
  width: 4%;
  height: 70%;
}

#fourth_floor {
  margin-top: 3px;
  width: 800px;
  height: 220px;
}
#fourth_floor .facade {
  height: 150px;
}
#fourth_floor .contents {
  -moz-transform: rotateX(90deg) translateZ(40px) translateX(7px) translateY(-55px);
  -ms-transform: rotateX(90deg) translateZ(40px) translateX(7px) translateY(-55px);
  -webkit-transform: rotateX(90deg) translateZ(40px) translateX(7px) translateY(-55px);
  transform: rotateX(90deg) translateZ(40px) translateX(7px) translateY(-55px);
}
#fourth_floor .contents > .room {
  -moz-transform: translateZ(-85px);
  -ms-transform: translateZ(-85px);
  -webkit-transform: translateZ(-85px);
  transform: translateZ(-85px);
}
.rotated #fourth_floor .contents {
  -webkit-animation: fourth-floor 1s forwards;
  -moz-animation: fourth-floor 1s forwards;
  -o-animation: fourth-floor 1s forwards;
  animation: fourth-floor 1s forwards;
}
@-moz-keyframes fourth-floor {
  50% {
    -moz-transform: translateY(120px) rotateX(90deg) translateX(120px) translateZ(0px);
    transform: translateY(120px) rotateX(90deg) translateX(120px) translateZ(0px);
  }

  100% {
    -moz-transform: translateY(10px) rotateX(20deg) rotateZ(-30deg) translateX(-80px) translateZ(0px);
    transform: translateY(10px) rotateX(20deg) rotateZ(-30deg) translateX(-80px) translateZ(0px);
  }
}
@-webkit-keyframes fourth-floor {
  50% {
    -webkit-transform: translateY(120px) rotateX(90deg) translateX(120px) translateZ(0px);
    transform: translateY(120px) rotateX(90deg) translateX(120px) translateZ(0px);
  }

  100% {
    -webkit-transform: translateY(10px) rotateX(20deg) rotateZ(-30deg) translateX(-80px) translateZ(0px);
    transform: translateY(10px) rotateX(20deg) rotateZ(-30deg) translateX(-80px) translateZ(0px);
  }
}
@keyframes fourth-floor {
  50% {
    -moz-transform: translateY(120px) rotateX(90deg) translateX(120px) translateZ(0px);
    -ms-transform: translateY(120px) rotateX(90deg) translateX(120px) translateZ(0px);
    -webkit-transform: translateY(120px) rotateX(90deg) translateX(120px) translateZ(0px);
    transform: translateY(120px) rotateX(90deg) translateX(120px) translateZ(0px);
  }

  100% {
    -moz-transform: translateY(10px) rotateX(20deg) rotateZ(-30deg) translateX(-80px) translateZ(0px);
    -ms-transform: translateY(10px) rotateX(20deg) rotateZ(-30deg) translateX(-80px) translateZ(0px);
    -webkit-transform: translateY(10px) rotateX(20deg) rotateZ(-30deg) translateX(-80px) translateZ(0px);
    transform: translateY(10px) rotateX(20deg) rotateZ(-30deg) translateX(-80px) translateZ(0px);
  }
}
#fourth_floor *:not([class="facade"]) {
  border-color: #496c52;
}
#fourth_floor .window {
  border-color: rgba(255, 255, 255, 0.5);
  transform: none !important;
}
#fourth_floor [class*="leg"] {
  background: #496c52;
}
#fourth_floor [class*='side'], #fourth_floor [class*='wall'] {
  background: rgba(73, 108, 82, 0.15);
}
.rotated #fourth_floor .facade {
  -webkit-animation: fourth-floor-facade 1s forwards;
  -moz-animation: fourth-floor-facade 1s forwards;
  -o-animation: fourth-floor-facade 1s forwards;
  animation: fourth-floor-facade 1s forwards;
}
.rotated #fourth_floor .window {
  border-color: #496c52;
  transition-duration: 300ms;
}
@-moz-keyframes fourth-floor-facade {
  30% {
    border-color: #496c52;
    background-color: #496c52;
  }

  50% {
    border-color: #496c52;
    background-color: #496c52;
    opacity: 1;
  }

  100% {
    border-color: #496c52;
    background-color: #496c52;
    opacity: 0;
  }
}
@-webkit-keyframes fourth-floor-facade {
  30% {
    border-color: #496c52;
    background-color: #496c52;
  }

  50% {
    border-color: #496c52;
    background-color: #496c52;
    opacity: 1;
  }

  100% {
    border-color: #496c52;
    background-color: #496c52;
    opacity: 0;
  }
}
@keyframes fourth-floor-facade {
  30% {
    border-color: #496c52;
    background-color: #496c52;
  }

  50% {
    border-color: #496c52;
    background-color: #496c52;
    opacity: 1;
  }

  100% {
    border-color: #496c52;
    background-color: #496c52;
    opacity: 0;
  }
}
#fourth_floor .room_1 {
  width: 100%;
  height: 43%;
}
#fourth_floor .room_2 {
  width: 40%;
  height: 43%;
  top: 43%;
}
#fourth_floor .room_3 {
  width: 8%;
  height: 14%;
  top: 86%;
  left: 32%;
}
#fourth_floor .room_4 {
  width: 5%;
  height: 65%;
  top: 43%;
  left: 40%;
}
#fourth_floor .room_5 {
  width: 20%;
  height: 65%;
  left: 45%;
  top: 43%;
}
#fourth_floor .room_6 {
  width: 16%;
  height: 65%;
  left: 65%;
  top: 43%;
}
