#top_floor {
	.conference_room {
		left: 0;
		bottom: 0;
		@include size(30%, 100%);
		.table {
			@include size(30%, 80%);
			left: 20%;
			bottom: 2%;
		}
		.chair_left_facing {
			left: 102%;
		}
		.chair_right_facing {
			right: 102%;
		}
		.chair_0, .chair_4 {
			top: 5%;
		}
		.chair_1, .chair_5 {
			top: 28%;
		}
		.chair_2, .chair_6 {
			top: 51%;
		}
		.chair_3, .chair_7 {
			top: 75%;
		}
	}
	#conference_room_number {
		left: 10%;
		top: 15%;
	}
	.work_room_1, .work_room_2 {
		bottom: 0;
	}
	.work_room_1 {
		right: 0;
		@include size(15%, 45%);
		.table {
			@include size(30%, 70%);
			bottom: 0;
			left: 37%;
		}
		.chair_0, .chair_2 {
			top: 5%;
		}
		.chair_1, .chair_3 {
			top: 50%;
		}
	}
	#work_room_1_number {
		left: 87%;
		top: 61%;
	}
	.work_room_2 {
		right: 15%;
		@include size(17%, 45%);
		.couch {
			width: 30%;
		}
		.couch_1 {
			right: 0;
			top: 5%;
		}
		.couch_2 {
			@include transform(translateZ(-$floor-depth) rotateZ(-90deg));
			top: 10%;
		}
	}
	#work_room_2_number {
		left: 70%;
		top: 61%;
	}
	.work_room_3 {
		left: 30%;
		@include size(17%, 70%);
		.couch_1 {
			width: 50%;
			left: 20%;
		}
		.couch_2 {
			@include transform(translateZ(-$floor-depth) rotateZ(-90deg));
			width: 45%;
			top: 40%;
		}
	}
	#work_room_3_number {
		left: 35%;
		top: 25%;
	}
	.storage_room_1, .storage_room_2 {
		left: 47%;
		@include size(17%, 30%);
	}
	.storage_room_2 {
		top: 30%;
	}
	.storage_room_3 {
		left: 74%;
		@include size(10%, 30%);
	}
	.storage_room_4 {
		left: 84%;
		@include size(13%, 30%);
	}
}

#second_floor {
	#couches_number {
		left: 7%;
		top: 50%;
	}
	.ground_couches {
		width: 30%;
	}
	.ground_kitchen {
		width: 70%;
		left: 30%;
	}
	.counter {
		left: 34%;
		@include step-sizing(-40px, $floor-depth - 40px, 15px, 34%);
		.horizontal {
			border-top-width: 1px;
		}
	}
	.bathroom {
		left: 68%;
		@include size(15%, 30%);
	}
	.closet {
		left: 83%;
		@include size(10%, 30%);
	}
	#kitchen_number {
		left: 50%;
		top: 48%;
	}
	.table {
		left: 35%;
		top: 50%;
		@include size(33%, 22%);
		.chair_0, .chair_5 {
			left: 9%;
		}
		.chair_1, .chair_6 {
			left: 28%;
		}
		.chair_2, .chair_7 {
			left: 48%;
		}
		.chair_3, .chair_8 {
			left: 67%;
		}
		.chair_4, .chair_9 {
			left: 86%;
		}
	}
	.couch_1 {
		width: 14%;
		left: 1%;
		top: 37%;
		@include transform(translateZ(-$floor-depth) rotateZ(-90deg));
	}
	.couch_2, .couch_3 {
		width: 6%;
		@include transform(translateZ(-$floor-depth) rotateZ(90deg));
		left: 17%;
	}
	.couch_2 {
		top: 25%;
	}
	.couch_3 {
		top: 50%;
	}
	#deck_number {
		left: 115%;
		top: 50%;
	}
	.deck {
		@include size(40%, 100%);
		left: 100%;
		.floor {
			border-width: 1px;
			@include square(100%);
			@include transform(translateZ(-$floor-depth));
			@include background-size(5px 5px);
			@include background-image(linear-gradient(transparent 90%, rgba($second-floor-color, 0.25) 90%));
		}
		.table {
			@include size(18%, 20%);
		}
		.table_1 {
			left: 28%;
			top: 20%;
		}
		.table_2 {
			left: 60%;
			top: 58%;
		}
		.chair {
			left: 45%;
		}
		.umbrella {
			top: -20%;
			@include size(120%, 145%);
			border: solid 1px $second-floor-color;
			@include border-radius(50%);
			@include transform(translateZ(40px));
			.pole, .triangle {
				background: $second-floor-color;
			}
			.pole {
				left: 50%;
				top: 50%;
				width: 2px;
				height: 150%;
				@extend %rotate-back;
			}
			.triangle {
				width: 1px;
				height: 50%;
				left: 50%;
				top: 50%;
				-webkit-transform-origin: top left;
				transform-origin: top left;
				@for $i from 1 through 8 {
					&.triangle_#{$i} {
						@include transform(rotateZ(unquote($i * 360 / 8 + "deg")));
					}
				}
			}
		}
	}
}

#third_floor {
	.contents {
		#mezzanine_number {
			left: 50%;
			top: 50%;
		}
		.left-side, .right-side {
			background: none;
			border-top: none;
			border-bottom: none;
		}
		.right-side {
			border-left: none;
		}
		.left-side {
			border-right: none;
		}
		.stairs {
			left: 98%;
			bottom: 3%;
			@include size(25%, 60%);
		}
		.table_1 {
			@include size(6%, 100%);
			.chair_0 {
				top: 30%;
			}
			.chair_1 {
				top: 50%;
			}
			.chair_2 {
				top: 80%;
			}
		}
		.table_2, .table_3, .table_4, .table_5, .table_6, .table_7 {
			@include size(7%, 55%);
			.chair_0 {
				top: 15%;
			}
			.chair_1 {
				top: 60%;
			}
		}
		.table_2 {
			left: 20%;
		}
		.table_3 {
			left: 27%;
		}
		.table_4 {
			left: 46%;
		}
		.table_5 {
			left: 53%;
		}
		.table_6 {
			left: 74%;
		}
		.table_7 {
			left: 81%;
		}
		.table_8 {
			left: 96%;
			@include size(4%, 70%);
		}
	}
}

#fourth_floor {
	#front_desk_number {
		left: 4%;
		top: 22%;
	}
	#ping_pong_table_number {
		left: 17%;
		top: 15%;
	}
	#eric_office_number {
		left: 30.5%;
		top: 18%;
	}
	#stairs_number {
		left: 61.5%;
		top: 19%;
	}
	#drew_office_number {
		left: 82%;
		top: 18%;
	}
	#green_room_number {
		left: 91.5%;
		top: 21%;
	}
	#field_guide_number {
		left: 8%;
		top: 60%;
	}
	#creative_space_number {
		left: 52.5%;
		top: 72%;
	}
	#war_room_number {
		left: 71.5%;
		top: 67%;
	}
	.room_1 {
		> .left-side {
			display: none;
		}
		.ground_front_desk {
			width: 4%;
			left: 6.3%;
		}
		.ground_ping_pong_table {
			width: 12%;
			left: 14.5%;
		}
		.ground_steps {
			width: 12%;
			left: 52%;
		}
		.ground_green_room {
			width: 11.75%;
			left: 88.25%;
		}
		@include size(100%, 43%);
		.upper, .lower {
			height: 33%;
			border: solid 1px $fourth-floor-color;
		}
		.upper {
			top: 0;
		}
		.doorway {
			@include size(3%, 30%);
			top: 33%;
			.bottom_wall, .top_wall {
				border-left: none;
				border-right: none;
			}
			.left_wall {
				background: none;
				border-width: 2px;
			}
		}
		.front_desk {
			@include size(1.5%, 26%);
			left: 7%;
			top: 37%;
			.chair_left_facing {
				left: 96%;
			}
			.chair_1 {
				top: 50%;
			}
		}
		.divider {
			@include size(1%, 32%);
			left: 11%;
			top: 30%;
			.table {
				@include square(100%);
				@include transform(translateZ(-45px));
				.table_surface {
					background: rgba($fourth-floor-color, 0.1);
				}
				[class*="wall"] {
					height: $floor-depth - 45px;
				}
			}
		}
		.ping_pong_table {
			@include size(7%, 28%);
			left: 17%;
			top: 38%;
			.line {
				background: $fourth-floor-color;
			}
			.horizontal {
				@include size(100%, 1px);
				top: 49%;
			}
			.vertical {
				@include size(1px, 100%);
				left: 50%;
			}
		}
		.eric_office, .storage_room_1, .storage_room_2, .bathroom_1 {
			top: 30%;
		}
		.eric_office {
			@include size(7%, 70%);
			left: 29%;
			.table {
				@include size(65%, 32%);
				left: 18%;
				top: 28%;
				.chair {
					top: 100%;
					left: 38%;
				}
			}
		}
		.storage_room_1 {
			@include size(4.5%, 70%);
			left: 36%;
		}
		.storage_room_2, .storage_room_3 {
			left: 40.5%;
		}
		.storage_room_2 {
			@include size(3.5%, 45%);
		}
		.storage_room_3 {
			@include size(3.5%, 25%);
			top: 75%;
		}
		.bathroom_1, .bathroom_2 {
			@include size(6%, 35%);
			left: 48%;
		}
		.bathroom_2 {
			top: 65%;
		}
		.stairs {
			left: 53%;
			bottom: 0;
			@include size(9%, 62%);
			@include transform(rotateZ(-90deg) translateZ($floor-depth + 22px));
		}
		.producer_table {
			@include size(10%, 38%);
			left: 67%;
			top: 30%;
			.chair_0, .chair_3 {
				left: 15%;
			}
			.chair_1, .chair_4 {
				left: 45%;
			}
			.chair_2, .chair_5 {
				left: 75%;
			}
		}
		.green_room_divider {
			left: 80%;
			height: 100%;
			background: none;
		}
		.drew_office {
			@include size(8%, 70%);
			left: 80.25%;
			top: 30%;
			.table {
				@include size(65%, 32%);
				left: 18%;
				top: 28%;
				.chair {
					top: 100%;
					left: 38%;
				}
			}
		}
	}
	.room_2 {
		> .top-side {
			display: none;
		}
		@include size(40%, 43%);
		top: 43%;
		.ground {
			width: 60%;
		}
		.table_1, .table_2, .table_3 {
			@include size(8%, 73%);
			.chair_0, .chair_3 {
				top: 15%;
			}
			.chair_1, .chair_4 {
				top: 40%;
			}
			.chair_2, .chair_5 {
				top: 65%;
			}
		}
		.table_1 {
			left: 8%;
		}
		.table_2 {
			left: 25%;
		}
		.table_3 {
			left: 42%;
		}
		.bar {
			@include size(4%, 73%);
			left: 65%;
		}
		.kitchen {
			@include size(25%, 73%);
			left: 75%;
		}
	}
	.room_3 {
		> .top-side {
			display: none;
		}
		@include size(8%, 14%);
		top: 86%;
		left: 32%;
	}
	.room_4 {
		> .top-side {
			display: none;
		}
		@include size(5%, 65%);
		top: 43%;;
		left: 40%;
		.room {
			@include size(100%, 35%);
			top: 35%;
		}
		.office_desk_1, .office_desk_2 {
			@include size(100%, 10%);
			.chair {
				left: 40%;
			}
		}
		.office_desk_1 {
			top: 35%;
			.chair {
				top: 100%;
			}
		}
		.office_desk_2 {
			bottom: 0;
			.chair {
				bottom: 100%;
			}
		}
	}
	.room_5 {
		> .top-side {
			display: none;
		}
		@include size(20%, 65%);
		left: 45%;
		top: 43%;
		> .divider {
			@include size(100%, 1px);
			background: $fourth-floor-color;
			@include transform(translateZ(-$floor-depth));
		}
		.divider_1 {
			top: 42%;
		}
		.divider_2 {
			top: 45%;
		}
		.standing_desks {
			@include size(65%, 16%);
			.chair {
				top: 100%;
			}
			.chair_0 {
				left: 12%;
			}
			.chair_1 {
				left: 35%;
			}
			.chair_2 {
				left: 58%;
			}
			.chair_3 {
				left: 82%;
			}
		}
		.creative_table_1, .creative_table_2 {
			@include size(23%, 34%);
			bottom: 0;
			.chair_0, .chair_2 {
				top: 10%;
			}
			.chair_1, .chair_3 {
				top: 60%;
			}
			.divider {
				@include size(1px, 100%);
				background: $fourth-floor-color;
				left: 50%;
			}
		}
		.creative_table_1 {
			left: 20%;
		}
		.creative_table_2 {
			left: 63%;
		}
	}
	.room_6 {
		> .top-side {
			display: none;
		}
		@include size(16%, 65%);
		left: 65%;
		top: 43%;
		.table {
			@include size(60%, 22%);
			left: 23%;
			.chair_0, .chair_3 {
				left: 15%;
			}
			.chair_1, .chair_4 {
				left: 50%;
			}
			.chair_2, .chair_5 {
				left: 85%;
			}
		}
		.table_1 {
			top: 18%;
		}
		.table_2 {
			top: 60%;
		}
	}
}