@import "compass";
@import "lib";
@import "interiors";

body {
	background: $background-color;
	&.rotated #building_container {
		@include animation(perspective-transition $split-transition-duration + $skew-transition-duration forwards)
	}
}

#building_container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  perspective-origin: center 20%;
}

@include keyframe(perspective-transition) {
	50% {
		-webkit-perspective: 1000px;
		perspective: 1000px;
		perspective-origin: center 20%;
	}
	100% {
		-webkit-perspective: 5000px;
		perspective: 5000px;
		perspective-origin: center 40%;
	}
}

* {
  @include box-sizing(border-box); 
  border-style: solid;
  border-width: 0;
}

.building {
	margin-left: auto;
	margin-right: auto;
	@include transform-style(preserve-3d);
	margin-top: 100px;
	width: 500px;
	height: 500px;
	pointer-events: none;
	.room {
		@include square(100%);
	}
	svg {
		overflow: visible;
		@include square(100%);
		position: absolute;
	}
}

@include sizing($floor-depth, $floor-width);

.facade {
	@include transform(rotateX(-90deg));
}

#top_floor {
	@include floor-sizing($width: 325px, 
					 	  $height: $floor-width, 
					 	  $facade-height-ratio: 0.82, 
					 	  $floor-name: 'top-floor', 
					 	  $facade-translate-x: 376px,
					 	  $facade-translate-y: 700px,
					 	  $svg-translate-x: 14px,
					 	  $svg-translate-y: 81px,
					 	  $post-transform-x: -30px, 
					 	  $post-transform-y: -30px, 
					 	  $pre-transform-y: 40%);
	@include floor-styling($first-floor-color, 'top-floor');
	.facade {
		-webkit-transform-origin: center 254%;
		transform-origin: center 254%;
	}
}

#second_floor {
	@include floor-sizing($width: 325px, 
						  $height: $floor-width, 
						  $facade-height-ratio: 0.58, 
						  $floor-name: 'second-floor', 
						  $facade-translate-x: 377px,
						  $facade-translate-y: 486px,
						  $svg-translate-x: 14px,
						  $svg-translate-y: 81px,
						  $post-transform-x: -30px, 
						  $post-transform-y: 35px, 
						  $pre-transform-y: 40%);
	@include floor-styling($second-floor-color, 'second-floor');
	.facade {
		-webkit-transform-origin: center 353%;
		transform-origin: center 353%;
	}
}

#third_floor {
	margin-top: -2%;
	@include floor-sizing($width: 285px, 
						  $height: $floor-width, 
						  $facade-height-ratio: 0.52, 
						  $floor-name: 'third-floor', 
						  $facade-translate-x: 417px,
						  $facade-translate-y: 295px,
						  $svg-translate-x: 19px,
						  $svg-translate-y: 83px,
						  $post-transform-y: -140px, 
						  $post-transform-x: 190px, 
						  $pre-transform-y: 59%, 
						  $pre-transform-x: -7%);
	@include floor-styling($third-floor-color, 'third-floor');
	.facade {
		-webkit-transform-origin: center 389%;
		transform-origin: center 389%;
	}
}

#fourth_floor {
	margin-top: -16%;
	@include floor-sizing($width: 800px, 
						  $height: 220px, 
						  $facade-height-ratio: 0.46, 
						  $floor-name: 'fourth-floor', 
						  $facade-translate-x: 18px,
						  $facade-translate-y: 247px,
						  $svg-translate-x: -68px,
						  $svg-translate-y: 95px,
						  $post-transform-x: -275px, 
						  $post-transform-y: 605px, 
						  $pre-transform-y: -63%, 
						  $pre-transform-x: 30%);
	@include floor-styling($fourth-floor-color, 'fourth-floor');
	.facade {
		-webkit-transform-origin: center 267%;
		transform-origin: center 267%;
	}
}

.stairs {
	@include transform(rotateZ(-90deg));
	.floor {
		@include transform(translateZ(-$floor-depth * 2));
		border-width: 1px;
		@include square(100%);
		left: 0;
		top: 0;
	}
	.horizontal {
		border-top-width: 1px;
	}
	.step_large {
		left: 24%;
		.horizontal, .vertical {
			border-left-width: none;
		}
		&.step_1 {
			top: 5%;
			@include step-sizing(-$floor-depth, $floor-depth, 20px, 64%);
		}				
		&.step_2 {
			top: 30%;
			@include step-sizing(-($floor-depth + 20px), $floor-depth - 20px, 20px, 64%);
		}
	}
	.step_small {
		.vertical {
			border-top-width: 0px;
		}
		&.step_1 {
			top: 5%;
			@include step-sizing(-$floor-depth, $floor-depth, 15px, 34%);
		}
		&.step_2 {
			top: 20%;
			@include step-sizing(-($floor-depth + 15px), $floor-depth - 15px, 15px, 34%);
		}
		&.step_3 {
			top: 35%;
			@include step-sizing(-($floor-depth + 30px), $floor-depth - 30px, 15px, 34%);
		}
		&.step_4 {
			top: 50%;
			@include step-sizing(-($floor-depth + 45px), $floor-depth - 45px, 15px, 34%);
		}
	}
}