@import "compass";
@import "lib";
@import "interiors";

body {
	background: $background-color;
	&.rotated #building_container {
		@include animation(perspective-transition $split-transition-duration + $skew-transition-duration forwards)
	}
}

svg {
	overflow: visible;
}

[id^="test"] {
	margin-left: 400px;
	margin-top: 200px;
}

#test_1 {
	margin-top: 400px;
}

#test_1_wrapper, #test_2_wrapper, #test_3_wrapper, #test_4_wrapper {
	perspective: 1000px;
	perspective-origin: center 20%;
}

#test_2_wrapper, #test_3_wrapper {
	* {
		@include transform-style(preserve-3d);
	}
	#test_2_contents, #test_3_contents {
		@include transform(scale(1.2));
	}
}

#test_3_wrapper {
	#test_3 {
		@include transform(rotateX(90deg));
		.svg_wrapper {
			@include transform(rotateX(-90deg));
		}
	}
}

#building_container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  perspective-origin: center 20%;
}

@include keyframe(perspective-transition) {
	50% {
		-webkit-perspective: 1000px;
		perspective: 1000px;
		perspective-origin: center 20%;
	}
	100% {
		-webkit-perspective: 5000px;
		perspective: 5000px;
		perspective-origin: center 40%;
	}
}

* {
  @include box-sizing(border-box); 
  border-style: solid;
  border-width: 0;
}

.building {
	margin-left: auto;
	margin-right: auto;
	@include transform-style(preserve-3d);
	margin-top: 100px;
	width: 500px;
	height: 500px;
	pointer-events: none;
	.room {
		@include square(100%);
	}
	svg {
		overflow: visible;
		@include square(100%);
		position: absolute;
	}
	.contents {
		@include transform(rotateX(90deg));
	}
	@include desktop-and-up {
		margin-top: 200px;
	}
}

@include sizing($floor-depth, $floor-width);

#top_floor {
	$top-floor-settings: (
		width: 325px, 
		height: $floor-width, 
		facade-height-ratio: 0.82, 
		floor-name: 'top-floor', 
		facade-translate-x: 183px,
		facade-translate-y: 155px,
		svg-translate-x: -66px,
		svg-translate-y: -55px,
		post-svg-translate-y: -17px,
		post-svg-translate-x: -107px,
		post-svg-translate-z: 182px,
		post-transform-x: -30px, 
		post-transform-y: -30px, 
		pre-transform-y: 40%
	);
	@include floor-sizing($top-floor-settings...);
	@include tablet-landscape-and-below {
		@include floor-sizing(map-merge($top-floor-settings, (
			facade-translate-x: 167px,
			facade-translate-y: 159px,
			svg-translate-x: -107px,
			svg-translate-y: -27px,
			post-svg-translate-y: 12px,
			post-svg-translate-x: -116px,
			post-svg-translate-z: 132px
		))...);
	}
	@include desktop-and-up {
		@include floor-sizing(map-merge($top-floor-settings, (
			facade-translate-x: 196px,
			facade-translate-y: 168px,
			svg-translate-x: -120px,
			post-svg-translate-z: 232px,
			post-svg-translate-x: -122px
		))...);
	}
	@include floor-styling($first-floor-color, 'top-floor');
	.facade {
		-webkit-transform-origin: center 254%;
		transform-origin: center 254%;
	}
}

#second_floor {
	margin-top: 4.2%;
	$second-floor-settings: (
		width: 325px, 
		height: $floor-width, 
		facade-height-ratio: 0.58, 
		floor-name: 'second-floor', 
		facade-translate-x: 184px,
		facade-translate-y: -17px,
		svg-translate-x: -33px,
		svg-translate-y: -13px,
		post-svg-translate-x: -61px,
		post-svg-translate-y: 4px,
		post-svg-translate-z: 208px,
		post-transform-x: -30px, 
		post-transform-y: 15px, 
		pre-transform-y: 40%
	);
	@include floor-sizing($second-floor-settings...);
	@include tablet-landscape-and-below {
		margin-top: -1%;
		@include floor-sizing(map-merge($second-floor-settings, (
			facade-translate-x: 168px,
			facade-translate-y: -21px,
			svg-translate-x: -49px,
			svg-translate-y: -6px,
			post-transform-y: 5px,
			post-svg-translate-x: -71px,
			post-svg-translate-z: 158px
		))...);
	}
	@include desktop-and-up {
		margin-top: 9.5%;
		@include floor-sizing(map-merge($second-floor-settings, (
			facade-translate-x: 197px,
			facade-translate-y: -4px,
			svg-translate-x: -53px,
			post-transform-y: 20px,
			post-svg-translate-x: -54px,
			post-svg-translate-y: 37px,
			post-svg-translate-z: 256px
		))...);
	}
	@include floor-styling($second-floor-color, 'second-floor');
	.facade {
		-webkit-transform-origin: center 353%;
		transform-origin: center 353%;
	}
}

#third_floor {
	margin-top: 2%;
	$third-floor-settings: (
		width: 285px, 
		height: $floor-width, 
		facade-height-ratio: 0.52, 
		floor-name: 'third-floor', 
		facade-translate-x: 184px,
		facade-translate-y: -176px,
		svg-translate-x: -3px,
		svg-translate-y: 26px,
		post-svg-translate-x: 35px,
		post-svg-translate-y: -70px,
		post-svg-translate-z: 128px,
		post-transform-y: -182px, 
		post-transform-x: 190px, 
		pre-transform-y: 59%, 
		pre-transform-x: -7%
	);
	@include floor-sizing($third-floor-settings...);
	@include tablet-landscape-and-below {
		margin-top: -2.5%;
		@include floor-sizing(map-merge($third-floor-settings, (
			facade-translate-x: 167px,
			facade-translate-y: -190px,
			svg-translate-x: 6px,
			svg-translate-y: 15px,
			post-transform-x: 155px,
			post-transform-y: -160px,
			post-svg-translate-x: 10px,
			post-svg-translate-y: -47px,
			post-svg-translate-z: 90px
		))...);
	}
	@include desktop-and-up {
		margin-top: 7%;
		@include floor-sizing(map-merge($third-floor-settings, (
			facade-translate-x: 196px,
			facade-translate-y: -165px,
			svg-translate-x: 21px,
			post-transform-y: -175px,
			post-svg-translate-x: 45px,
			post-svg-translate-y: 37px,
			post-svg-translate-z: 168px
		))...);
	}
	@include floor-styling($third-floor-color, 'third-floor');
	.facade {
		-webkit-transform-origin: center 389%;
		transform-origin: center 389%;
	}
}

#fourth_floor {
	margin-top: -12.2%;
	$fourth-floor-settings: (
		width: 800px, 
		height: 220px, 
		facade-height-ratio: 0.46, 
		floor-name: 'fourth-floor', 
		facade-translate-x: 264px,
		facade-translate-y: -394px,
		svg-translate-x: 30px,
		svg-translate-y: 39px,
		post-svg-translate-x: -150px,
		post-svg-translate-y: 245px,
		post-svg-translate-z: 220px,
		post-transform-x: -275px, 
		post-transform-y: 540px, 
		pre-transform-y: -63%, 
		pre-transform-x: 30%
	);
	@include floor-sizing($fourth-floor-settings...);
	@include tablet-landscape-and-below {
		margin-top: -16.5%;
		@include floor-sizing(map-merge($fourth-floor-settings, (
			facade-translate-x: 272px,
			facade-translate-y: -439px,
			svg-translate-x: 60px,
			svg-translate-y: 17px,
			post-transform-y: 485px,
			post-transform-x: -320px,
			post-svg-translate-x: -162px,
			post-svg-translate-z: 140px
		))...);
	}
	@include desktop-and-up {
		@include floor-sizing(map-merge($fourth-floor-settings, (
			facade-translate-x: 263px,
			facade-translate-y: -346px,
			svg-translate-x: 100px,
			svg-translate-y: 69px,
			post-transform-y: 640px,
			post-svg-translate-x: -108px,
			post-svg-translate-z: 320px
		))...);
	}
	@include floor-styling($fourth-floor-color, 'fourth-floor');
	.facade {
		-webkit-transform-origin: center 267%;
		transform-origin: center 267%;
	}
}

.stairs {
	@include transform(rotateZ(-90deg));
	.floor {
		@include transform(translateZ(-$floor-depth * 2));
		border-width: 1px;
		@include square(100%);
		left: 0;
		top: 0;
	}
	.horizontal {
		border-top-width: 1px;
	}
	.step_large {
		left: 24%;
		.horizontal, .vertical {
			border-left-width: none;
		}
		&.step_1 {
			top: 5%;
			@include step-sizing(-$floor-depth, $floor-depth, 20px, 64%);
		}				
		&.step_2 {
			top: 30%;
			@include step-sizing(-($floor-depth + 20px), $floor-depth - 20px, 20px, 64%);
		}
	}
	.step_small {
		.vertical {
			border-top-width: 0px;
		}
		&.step_1 {
			top: 5%;
			@include step-sizing(-$floor-depth, $floor-depth, 15px, 34%);
		}
		&.step_2 {
			top: 20%;
			@include step-sizing(-($floor-depth + 15px), $floor-depth - 15px, 15px, 34%);
		}
		&.step_3 {
			top: 35%;
			@include step-sizing(-($floor-depth + 30px), $floor-depth - 30px, 15px, 34%);
		}
		&.step_4 {
			top: 50%;
			@include step-sizing(-($floor-depth + 45px), $floor-depth - 45px, 15px, 34%);
		}
	}
}