$background-color: #212121;

$split-transition-duration: .65s;
$skew-transition-duration: .65s;

$floor-depth: 65px;
$floor-width: 105px;

$facade-color: rgba(white, 0.5);
$first-floor-color: #733E2D;
$second-floor-color: #3C685C;
$third-floor-color: #693E3E;
$fourth-floor-color: #496C52;

$desktop-and-up-scale-factor: 1.2;
$tablet-landscape-and-below-scale-factor: 0.75;